# Main dataset preprocessing and merging with supplementary data

In [1]:
import numpy
import pandas
import os
from os import path
import gender_guesser.detector as gender

### load up donation dataset

In [ ]:
#data source: https://search.electoralcommission.org.uk/Search/Donations?currentPage=1&rows=10&sort=AcceptedDate&order=desc&tab=1&et=pp&et=ppm&et=tp&et=perpar&et=rd&isIrishSourceYes=true&isIrishSourceNo=true&prePoll=false&postPoll=true&register=gb&register=ni&register=none&optCols=Register&optCols=CampaigningName&optCols=AccountingUnitsAsCentralParty&optCols=IsSponsorship&optCols=IsIrishSource&optCols=RegulatedDoneeType&optCols=CompanyRegistrationNumber&optCols=Postcode&optCols=NatureOfDonation&optCols=PurposeOfVisit&optCols=DonationAction&optCols=ReportedDate&optCols=IsReportedPrePoll&optCols=ReportingPeriodName&optCols=IsBequest&optCols=IsAggregation
#filename is name of file in local storage, change to own path!
df = pandas.read_csv("Data/results.csv")
df.info()

In [3]:
print(df["RegulatedEntityType"].unique())
print()
print(df.columns)
print(len(df.columns))

['Regulated Donee' 'Third Party' 'Political Party' 'Permitted Participant']

Index(['ECRef', 'RegulatedEntityName', 'RegulatedEntityType', 'Value',
       'AcceptedDate', 'AccountingUnitName', 'DonorName',
       'AccountingUnitsAsCentralParty', 'IsSponsorship', 'DonorStatus',
       'RegulatedDoneeType', 'CompanyRegistrationNumber', 'Postcode',
       'DonationType', 'NatureOfDonation', 'PurposeOfVisit', 'DonationAction',
       'ReceivedDate', 'ReportedDate', 'IsReportedPrePoll',
       'ReportingPeriodName', 'IsBequest', 'IsAggregation',
       'RegulatedEntityId', 'AccountingUnitId', 'DonorId', 'CampaigningName',
       'RegisterName', 'IsIrishSource'],
      dtype='object')
29

In [4]:
df.head(15)

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
0,C0583991,Labour Campaign For Electoral Reform,Regulated Donee,"£20,000.00",08/07/2024,NaN,Joseph Rowntree Reform Trust,False,False,Company,...,NaN,August 2024,False,False,17630,NaN,99201.0,NaN,Great Britain,False
1,C0579011,Labour Together,Regulated Donee,"£175,500.00",08/07/2024,NaN,Lord David Sainsbury,False,False,Individual,...,NaN,July 2024,False,False,3912,NaN,99815.0,NaN,Great Britain,False
2,C0579009,Labour Together,Regulated Donee,"£12,500.00",24/06/2024,NaN,Mr Trevor Chinn,False,False,Individual,...,NaN,July 2024,False,False,3912,NaN,83243.0,NaN,Great Britain,False
3,C0579010,Labour Together,Regulated Donee,"£325,000.00",21/06/2024,NaN,Martin Taylor,False,False,Individual,...,NaN,July 2024,False,False,3912,NaN,72372.0,NaN,Great Britain,False
4,C0579007,The Spring Lunch,Regulated Donee,"£6,000.00",21/06/2024,NaN,FT Estates Ltd,False,False,Company,...,NaN,July 2024,False,True,1621,NaN,100697.0,NaN,Great Britain,False
5,C0578696,Wes Streeting,Regulated Donee,"£1,500.00",01/06/2024,NaN,Sir Trevor Chinn,False,False,Individual,...,NaN,June 2024,False,True,6346,NaN,93638.0,NaN,Great Britain,False
6,C0578678,The Rt Hon Dr Liam Fox MP,Regulated Donee,"£10,000.00",28/05/2024,NaN,Partners & Limited,False,False,Company,...,NaN,June 2024,False,False,1035,NaN,95230.0,NaN,Great Britain,False
7,NC0578606,Andy Burnham,Regulated Donee,"£26,750.00",24/05/2024,NaN,B & Combes LLP,False,False,Limited Liability Partnership,...,NaN,June 2024,False,False,1469,NaN,100595.0,NaN,Great Britain,False
8,C0579008,Northern Campaign Group,Regulated Donee,"£60,000.00",24/05/2024,NaN,Cohiba Support Services Ltd,False,False,Company,...,NaN,July 2024,False,False,17447,NaN,100698.0,NaN,Great Britain,False
9,C0578682,Simon Clarke,Regulated Donee,"£5,000.00",24/05/2024,NaN,John Hall,False,False,Individual,...,NaN,June 2024,False,False,6668,NaN,98913.0,NaN,Great Britain,False
10,C0578668,Johnny Mercer MP,Regulated Donee,"£5,000.00",24/05/2024,NaN,The Carlton Club,False,False,Company,...,NaN,June 2024,False,False,2598,NaN,100614.0,NaN,Great Britain,False
11,C0578681,Simon Clarke,Regulated Donee,"£10,000.00",24/05/2024,NaN,Gary Lydiate,False,False,Individual,...,NaN,June 2024,False,False,6668,NaN,93121.0,NaN,Great Britain,False
12,C0578667,Johnny Mercer MP,Regulated Donee,"£2,900.00",24/05/2024,NaN,Andrew Law,False,False,Individual,...,NaN,June 2024,False,False,2598,NaN,100613.0,NaN,Great Britain,False
13,C0578680,Simon Clarke,Regulated Donee,"£5,000.00",24/05/2024,NaN,David Franks,False,False,Individual,...,NaN,June 2024,False,False,6668,NaN,100623.0,NaN,Great Britain,False
14,C0578665,Mr John Stevenson MP,Regulated Donee,"£20,000.00",24/05/2024,NaN,Northern Campaign Group,False,False,Unincorporated Association,...,NaN,June 2024,False,False,2740,NaN,100612.0,NaN,Great Britain,False

In [6]:
#print(df.loc[df["DonorStatus"] == "Individual"].head(15))

### PREP

In [7]:
wip_df = df.copy()
wip_df["Value"] = wip_df["Value"].apply(lambda x: x.replace("£", ""))
wip_df["Value"] = wip_df["Value"].apply(lambda x: x.replace(",", ""))
wip_df["Value"] = wip_df["Value"].astype('float')
print(wip_df.head(5))

# wip_df["gender"] = ""

#split off data for individuals
individuals_df = df.loc[df["DonorStatus"] == "Individual"].copy()
print("unprocessed: ")
print(individuals_df["DonorName"].head())



titles_list = ["Master", "Mr", "Sir", "Gentleman", "Sire", "Lord", "Esq", "Miss", "Mrs", "Ms", "Mistress", "Madam", "Ma'am", "Dame", "Lady", "Mx", "Excellency", "Dr", "Professor"]

for i in titles_list:
    # individuals_df["DonorName"] = individuals_df["DonorName"].replace(i, "")
    individuals_df["DonorName"] = individuals_df["DonorName"].apply(lambda x: str(x).replace(i, ""))

individuals_df["FirstNames"] = individuals_df["DonorName"].apply(lambda x: str(x).split()[0]) 

d = gender.Detector()

# Gender guesser setup adapted from Rahul Lalchandani's Genderizer code, source: https://medium.com/analytics-vidhya/how-to-find-gender-from-a-dataframe-of-names-43ec98377290
# Gender guesser source: https://pypi.org/project/gender-guesser/
def gender_guess(name):
    #print(name)
    return d.get_gender(u"{x}".format(x=name), u'great_britain')

# df['gender'] = individuals_df["FirstNames"].apply(lambda x: gender_guess(x))
individuals_df['gender'] = individuals_df["FirstNames"].apply(lambda x: gender_guess(x))

individuals_merge = individuals_df["gender"]

# wip_df = wip_df.merge(individuals_merge, how='left', on="DonorId")
wip_df = wip_df.join(individuals_merge)

print(wip_df.head(61))
print(individuals_merge.head(25))

      ECRef                   RegulatedEntityName RegulatedEntityType  \
0  C0583991  Labour Campaign For Electoral Reform     Regulated Donee
1  C0579011                       Labour Together     Regulated Donee
2  C0579009                       Labour Together     Regulated Donee
3  C0579010                       Labour Together     Regulated Donee
4  C0579007                      The Spring Lunch     Regulated Donee

      Value AcceptedDate AccountingUnitName                     DonorName  \
0   20000.0   08/07/2024                NaN  Joseph Rowntree Reform Trust
1  175500.0   08/07/2024                NaN          Lord David Sainsbury
2   12500.0   24/06/2024                NaN               Mr Trevor Chinn
3  325000.0   21/06/2024                NaN                 Martin Taylor
4    6000.0   21/06/2024                NaN                FT Estates Ltd

   AccountingUnitsAsCentralParty  IsSponsorship DonorStatus  ...  \
0                          False          False     Company  ...
1                          False          False  Individual  ...
2                          False          False  Individual  ...
3                          False          False  Individual  ...
4                          False          False     Company  ...

  IsReportedPrePoll ReportingPeriodName IsBequest IsAggregation  \
0               NaN         August 2024     False         False
1               NaN           July 2024     False         False
2               NaN           July 2024     False         False
3               NaN           July 2024     False         False
4               NaN           July 2024     False          True

  RegulatedEntityId AccountingUnitId   DonorId CampaigningName   RegisterName  \
0             17630              NaN   99201.0             NaN  Great Britain
1              3912              NaN   99815.0             NaN  Great Britain
2              3912              NaN   83243.0             NaN  Great Britain
3              3912              NaN   72372.0             NaN  Great Britain
4              1621              NaN  100697.0             NaN  Great Britain

  IsIrishSource
0         False
1         False
2         False
3         False
4         False

[5 rows x 29 columns]
unprocessed:
1    Lord David Sainsbury
2         Mr Trevor Chinn
3           Martin Taylor
5        Sir Trevor Chinn
9               John Hall
Name: DonorName, dtype: object
       ECRef                   RegulatedEntityName RegulatedEntityType  \
0   C0583991  Labour Campaign For Electoral Reform     Regulated Donee
1   C0579011                       Labour Together     Regulated Donee
2   C0579009                       Labour Together     Regulated Donee
3   C0579010                       Labour Together     Regulated Donee
4   C0579007                      The Spring Lunch     Regulated Donee
..       ...                                   ...                 ...
56  V0578661            The Rt Hon Elizabeth Truss     Regulated Donee
57  C0578652                        Mr Bim Afolami     Regulated Donee
58  C0576264                           Alan Mak MP     Regulated Donee
59  C0576322             The Rt Hon Dr Liam Fox MP     Regulated Donee
60  C0576335                         Labour To Win     Regulated Donee

       Value AcceptedDate AccountingUnitName  \
0    20000.0   08/07/2024                NaN
1   175500.0   08/07/2024                NaN
2    12500.0   24/06/2024                NaN
3   325000.0   21/06/2024                NaN
4     6000.0   21/06/2024                NaN
..       ...          ...                ...
56    4046.0   17/04/2024                NaN
57    5000.0   17/04/2024                NaN
58   20000.0   16/04/2024                NaN
59   10000.0   16/04/2024                NaN
60   25000.0   15/04/2024                NaN

                           DonorName  AccountingUnitsAsCentralParty  \
0       Joseph Rowntree Reform Trust                          False
1               Lord David Sainsbury                          False
2                    Mr Trevor Chinn                          False
3                      Martin Taylor                          False
4                     FT Estates Ltd                          False
..                               ...                            ...
56               Heritage Foundation                          False
57                       Arnold Ekpe                          False
58                           Yan Huo                          False
59  First Corporate Shipping Limited                          False
60                       Gary Lubner                          False

    IsSponsorship                 DonorStatus  ... ReportingPeriodName  \
0           False                     Company  ...         August 2024
1           False                  Individual  ...           July 2024
2           False                  Individual  ...           July 2024
3           False                  Individual  ...           July 2024
4           False                     Company  ...           July 2024
..            ...                         ...  ...                 ...
56          False  Unincorporated Association  ...           June 2024
57          False                  Individual  ...           June 2024
58          False                  Individual  ...            May 2024
59          False                     Company  ...            May 2024
60          False                  Individual  ...            May 2024

   IsBequest IsAggregation RegulatedEntityId AccountingUnitId   DonorId  \
0      False         False             17630              NaN   99201.0
1      False         False              3912              NaN   99815.0
2      False         False              3912              NaN   83243.0
3      False         False              3912              NaN   72372.0
4      False          True              1621              NaN  100697.0
..       ...           ...               ...              ...       ...
56     False         False              9108              NaN   97939.0
57     False         False              9144              NaN  100608.0
58     False         False              2859              NaN   95224.0
59     False         False              1035              NaN   99810.0
60     False         False             17376              NaN   97767.0

   CampaigningName   RegisterName IsIrishSource gender
0              NaN  Great Britain         False    NaN
1              NaN  Great Britain         False   male
2              NaN  Great Britain         False   male
3              NaN  Great Britain         False   male
4              NaN  Great Britain         False    NaN
..             ...            ...           ...    ...
56             NaN  Great Britain         False    NaN
57             NaN  Great Britain         False   male
58             NaN  Great Britain         False   andy
59             NaN  Great Britain         False    NaN
60             NaN  Great Britain         False   male

[61 rows x 30 columns]
1            male
2            male
3            male
5            male
9            male
11           male
12           male
13           male
17           male
18           male
20           male
21           male
27           male
28           male
31           male
36           male
38           male
40           male
41           male
53    mostly_male
54           male
55         female
57           male
58           andy
60           male
Name: gender, dtype: object

In [7]:
# print(sum(value_wip["Value"] >=1000000))
# print()
# print(sum((value_wip["Value"] >=100000) & (value_wip["Value"] <=1000000)))
# print()
# print(sum((value_wip["Value"] >=10000) & (value_wip["Value"] <=100000)))
# print()
# print(sum((value_wip["Value"] >=5000) & (value_wip["Value"] <=10000)))
# print()
# print(sum((value_wip["Value"] >=2500) & (value_wip["Value"] <=5000)))
# print()
# print(sum((value_wip["Value"] >=1000) & (value_wip["Value"] <=2500)))
# print()
# print(sum((value_wip["Value"] >=0) & (value_wip["Value"] <=1000)))

In [9]:
tmp_df = wip_df.copy()
tmp_df["val_split"] = ""

def step_id(x, steps):
    idx_int = 0
    idx_int2 = 1

    for i in steps:
        if idx_int == len(steps)-1:
            x = ">{0}".format(steps[idx_int])
            break
        else: 
            if (x >= steps[idx_int]) and (x < steps[idx_int2]):
                x = "{0}-{1}".format(steps[idx_int], steps[idx_int2])
                break
            else:
                idx_int +=1
                idx_int2 +=1
                continue
    return x


steps = [0, 1000, 2500, 5000, 10000, 100000, 1000000]

tmp_df["val_split"] = tmp_df["Value"].apply(lambda x: step_id(x, steps))

print(tmp_df[["Value", "val_split"]].head(10))

wip_df["val_split"] = tmp_df["val_split"].copy()

print()
print(wip_df.head(10))

      Value       val_split
0   20000.0    10000-100000
1  175500.0  100000-1000000
2   12500.0    10000-100000
3  325000.0  100000-1000000
4    6000.0      5000-10000
5    1500.0       1000-2500
6   10000.0    10000-100000
7   26750.0    10000-100000
8   60000.0    10000-100000
9    5000.0      5000-10000

       ECRef                   RegulatedEntityName RegulatedEntityType  \
0   C0583991  Labour Campaign For Electoral Reform     Regulated Donee
1   C0579011                       Labour Together     Regulated Donee
2   C0579009                       Labour Together     Regulated Donee
3   C0579010                       Labour Together     Regulated Donee
4   C0579007                      The Spring Lunch     Regulated Donee
5   C0578696                         Wes Streeting     Regulated Donee
6   C0578678             The Rt Hon Dr Liam Fox MP     Regulated Donee
7  NC0578606                          Andy Burnham     Regulated Donee
8   C0579008               Northern Campaign Group     Regulated Donee
9   C0578682                          Simon Clarke     Regulated Donee

      Value AcceptedDate AccountingUnitName                     DonorName  \
0   20000.0   08/07/2024                NaN  Joseph Rowntree Reform Trust
1  175500.0   08/07/2024                NaN          Lord David Sainsbury
2   12500.0   24/06/2024                NaN               Mr Trevor Chinn
3  325000.0   21/06/2024                NaN                 Martin Taylor
4    6000.0   21/06/2024                NaN                FT Estates Ltd
5    1500.0   01/06/2024                NaN              Sir Trevor Chinn
6   10000.0   28/05/2024                NaN            Partners & Limited
7   26750.0   24/05/2024                NaN                B & Combes LLP
8   60000.0   24/05/2024                NaN   Cohiba Support Services Ltd
9    5000.0   24/05/2024                NaN                     John Hall

   AccountingUnitsAsCentralParty  IsSponsorship  \
0                          False          False
1                          False          False
2                          False          False
3                          False          False
4                          False          False
5                          False          False
6                          False          False
7                          False          False
8                          False          False
9                          False          False

                     DonorStatus  ... IsBequest IsAggregation  \
0                        Company  ...     False         False
1                     Individual  ...     False         False
2                     Individual  ...     False         False
3                     Individual  ...     False         False
4                        Company  ...     False          True
5                     Individual  ...     False          True
6                        Company  ...     False         False
7  Limited Liability Partnership  ...     False         False
8                        Company  ...     False         False
9                     Individual  ...     False         False

  RegulatedEntityId AccountingUnitId   DonorId CampaigningName   RegisterName  \
0             17630              NaN   99201.0             NaN  Great Britain
1              3912              NaN   99815.0             NaN  Great Britain
2              3912              NaN   83243.0             NaN  Great Britain
3              3912              NaN   72372.0             NaN  Great Britain
4              1621              NaN  100697.0             NaN  Great Britain
5              6346              NaN   93638.0             NaN  Great Britain
6              1035              NaN   95230.0             NaN  Great Britain
7              1469              NaN  100595.0             NaN  Great Britain
8             17447              NaN  100698.0             NaN  Great Britain
9              6668              NaN   98913.0             NaN  Great Britain

  IsIrishSource gender       val_split
0         False    NaN    10000-100000
1         False   male  100000-1000000
2         False   male    10000-100000
3         False   male  100000-1000000
4         False    NaN      5000-10000
5         False   male       1000-2500
6         False    NaN    10000-100000
7         False    NaN    10000-100000
8         False    NaN    10000-100000
9         False   male      5000-10000

[10 rows x 31 columns]

In [10]:
# individual_rdy = individuals_df.iloc[:, [1, 2, 3, 29]]
# print(individual_rdy.info())
# print(individual_rdy.head())

## Create dataset for organizations

In [11]:
# Load dataset created with "supp_data_explore_V2.ipynb"
preprocessed_dir_path = os.path.join(os.getcwd(), "Preprocessed_Data")
dataset_path = os.path.join(preprocessed_dir_path, "supplementary_materials_2.csv")

In [12]:
# organizations_df = wip_df.loc[df["DonorStatus"] != "Individual"].copy()
organizations_df = wip_df.loc[wip_df["DonorStatus"] != "Individual"].copy()
# print(organizations_df.head(25))
# print(organizations_df.info())
# print()

df_orgs_merge = organizations_df.iloc[:, [3, 9, 12]]
print(df_orgs_merge.head(10))
print()

supp_df = pandas.read_csv(dataset_path)
supp_df = supp_df.rename(columns={"pcds": "Postcode"})
print(supp_df.head(10))
print(supp_df.info())

      Value                    DonorStatus  Postcode
0   20000.0                        Company  YO30 6WQ
4    6000.0                        Company   E15 2JA
6   10000.0                        Company  HP13 6NU
7   26750.0  Limited Liability Partnership   SK9 5EQ
8   60000.0                        Company  BB12 7TW
10   5000.0                        Company  SW1A 1PJ
14  20000.0     Unincorporated Association  OL13 9AA
15   3200.0                        Company    M3 4AP
16  16000.0                        Company   M40 5BJ
19   6179.0                          Other      0000

   Unnamed: 0     pcd7      pcd8 Postcode  Area code      ladnm  Average_age  \
0           0  AL2 1BB  AL2  1BB  AL2 1BB  E07000098  Hertsmere    40.680154
1           1  AL2 1BT  AL2  1BT  AL2 1BT  E07000098  Hertsmere    40.680154
2           2  AL2 1BU  AL2  1BU  AL2 1BU  E07000098  Hertsmere    40.680154
3           3  AL2 1BX  AL2  1BX  AL2 1BX  E07000098  Hertsmere    40.680154
4           4  AL2 1BY  AL2  1BY  AL2 1BY  E07000098  Hertsmere    40.680154
5           5  AL2 1BZ  AL2  1BZ  AL2 1BZ  E07000098  Hertsmere    40.680154
6           6  AL2 1DA  AL2  1DA  AL2 1DA  E07000098  Hertsmere    40.680154
7           7  AL2 1DE  AL2  1DE  AL2 1DE  E07000098  Hertsmere    40.680154
8           8  AL2 1DF  AL2  1DF  AL2 1DF  E07000098  Hertsmere    40.680154
9           9  AL2 1DR  AL2  1DR  AL2 1DR  E07000098  Hertsmere    40.680154

   Qualification index score  Net annual income after housing costs (£)  \
0                       2.59                               33438.461538
1                       2.59                               33438.461538
2                       2.59                               33438.461538
3                       2.59                               33438.461538
4                       2.59                               33438.461538
5                       2.59                               33438.461538
6                       2.59                               33438.461538
7                       2.59                               33438.461538
8                       2.59                               33438.461538
9                       2.59                               33438.461538

   Asian, Asian British or Asian Welsh: Bangladeshi\n(percent)  ...  \
0                                                0.4            ...
1                                                0.4            ...
2                                                0.4            ...
3                                                0.4            ...
4                                                0.4            ...
5                                                0.4            ...
6                                                0.4            ...
7                                                0.4            ...
8                                                0.4            ...
9                                                0.4            ...

   Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0                                                0.5
1                                                0.5
2                                                0.5
3                                                0.5
4                                                0.5
5                                                0.5
6                                                0.5
7                                                0.5
8                                                0.5
9                                                0.5

   Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                0.9
1                                                0.9
2                                                0.9
3                                                0.9
4                                                0.9
5                                                0.9
6                                                0.9
7                                                0.9
8                                                0.9
9                                                0.9

   Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                1.2
1                                                1.2
2                                                1.2
3                                                1.2
4                                                1.2
5                                                1.2
6                                                1.2
7                                                1.2
8                                                1.2
9                                                1.2

   White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                               63.1
1                                               63.1
2                                               63.1
3                                               63.1
4                                               63.1
5                                               63.1
6                                               63.1
7                                               63.1
8                                               63.1
9                                               63.1

   White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
0                      2.0                                         0.2
1                      2.0                                         0.2
2                      2.0                                         0.2
3                      2.0                                         0.2
4                      2.0                                         0.2
5                      2.0                                         0.2
6                      2.0                                         0.2
7                      2.0                                         0.2
8                      2.0                                         0.2
9                      2.0                                         0.2

   White: Roma\n(percent)  White: Other White\n(percent)  \
0                     0.3                           11.6
1                     0.3                           11.6
2                     0.3                           11.6
3                     0.3                           11.6
4                     0.3                           11.6
5                     0.3                           11.6
6                     0.3                           11.6
7                     0.3                           11.6
8                     0.3                           11.6
9                     0.3                           11.6

   Other ethnic group: Arab\n(percent)  \
0                                  0.3
1                                  0.3
2                                  0.3
3                                  0.3
4                                  0.3
5                                  0.3
6                                  0.3
7                                  0.3
8                                  0.3
9                                  0.3

   Other ethnic group: Any other ethnic group\n(percent)
0                                                3.5
1                                                3.5
2                                                3.5
3                                                3.5
4                                                3.5
5                                                3.5
6                                                3.5
7                                                3.5
8                                                3.5
9                                                3.5

[10 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2165695 entries, 0 to 2165694
Data columns (total 28 columns):
 #   Column                                                                            Dtype
---  ------                                                                            -----
 0   Unnamed: 0                                                                        int64
 1   pcd7                                                                              object
 2   pcd8                                                                              object
 3   Postcode                                                                          object
 4   Area code                                                                         object
 5   ladnm                                                                             object
 6   Average_age                                                                       float64
 7   Qualification index score                                                         float64
 8   Net annual income after housing costs (£)                                         float64
 9   Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        float64
 10  Asian, Asian British or Asian Welsh: Chinese
(percent)                            float64
 11  Asian, Asian British or Asian Welsh: Indian
(percent)                             float64
 12  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          float64
 13  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        float64
 14  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        float64
 15  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      float64
 16  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    float64
 17  Mixed or Multiple ethnic groups: White and Asian
(percent)                        float64
 18  Mixed or Multiple ethnic groups: White and Black African
(percent)               float64
 19  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              float64
 20  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  float64
 21  White: English, Welsh, Scottish, Northern Irish or British
(percent)              float64
 22  White: Irish
(percent)                                                            float64
 23  White: Gypsy or Irish Traveller
(percent)                                         float64
 24  White: Roma
(percent)                                                             float64
 25  White: Other White
(percent)                                                      float64
 26  Other ethnic group: Arab
(percent)                                                float64
 27  Other ethnic group: Any other ethnic group
(percent)                              float64
dtypes: float64(22), int64(1), object(5)
memory usage: 462.6+ MB
None

In [13]:
# merged_df = df_orgs_merge.merge(supp_df, how='inner', on="Postcode")
print("left df shape: ", df_orgs_merge.shape)
print("right df shape: ", supp_df.shape)
print()

merged_df = df_orgs_merge.reset_index().merge(supp_df, how='left', on="Postcode").set_index('index')
print(merged_df.info())
print(merged_df.head())
print("merged df shape: ", merged_df.shape)
print()

localized_prep_df = merged_df.copy()
localized_prep_df = localized_prep_df.drop(["Postcode", "pcd7", "pcd8", "Area code", "Unnamed: 0"], axis=1)
print()
print(localized_prep_df.info())
# print(localized_prep_df.head())
print("localized_prep_df shape: ", localized_prep_df.shape)




# export_df = merged_df.copy()
# export_df = export_df.drop(["Postcode", "pcd7", "pcd8", "Area code", "Unnamed: 0"], axis=1)
# print()
# print(export_df.info())
# print(export_df.head())
# print("export df shape: ", export_df.shape)

left df shape:  (46612, 3)
right df shape:  (2165695, 28)

<class 'pandas.core.frame.DataFrame'>
Index: 46612 entries, 0 to 84468
Data columns (total 30 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Value                                                                             46612 non-null  float64
 1   DonorStatus                                                                       46514 non-null  object
 2   Postcode                                                                          45585 non-null  object
 3   Unnamed: 0                                                                        38064 non-null  float64
 4   pcd7                                                                              38064 non-null  object
 5   pcd8                                                                              38064 non-null  object
 6   Area code                                                                         38064 non-null  object
 7   ladnm                                                                             38064 non-null  object
 8   Average_age                                                                       38064 non-null  float64
 9   Qualification index score                                                         38064 non-null  float64
 10  Net annual income after housing costs (£)                                         38064 non-null  float64
 11  Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        38064 non-null  float64
 12  Asian, Asian British or Asian Welsh: Chinese
(percent)                            38064 non-null  float64
 13  Asian, Asian British or Asian Welsh: Indian
(percent)                             38064 non-null  float64
 14  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          38064 non-null  float64
 15  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        38064 non-null  float64
 16  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        38064 non-null  float64
 17  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      38064 non-null  float64
 18  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    38064 non-null  float64
 19  Mixed or Multiple ethnic groups: White and Asian
(percent)                        38064 non-null  float64
 20  Mixed or Multiple ethnic groups: White and Black African
(percent)               38064 non-null  float64
 21  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              38064 non-null  float64
 22  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  38064 non-null  float64
 23  White: English, Welsh, Scottish, Northern Irish or British
(percent)              38064 non-null  float64
 24  White: Irish
(percent)                                                            38064 non-null  float64
 25  White: Gypsy or Irish Traveller
(percent)                                         38064 non-null  float64
 26  White: Roma
(percent)                                                             38064 non-null  float64
 27  White: Other White
(percent)                                                      38064 non-null  float64
 28  Other ethnic group: Arab
(percent)                                                38064 non-null  float64
 29  Other ethnic group: Any other ethnic group
(percent)                              38064 non-null  float64
dtypes: float64(24), object(6)
memory usage: 11.0+ MB
None
         Value                    DonorStatus  Postcode  Unnamed: 0     pcd7  \
index
0      20000.0                        Company  YO30 6WQ   2160232.0  YO306WQ
4       6000.0                        Company   E15 2JA    550527.0  E15 2JA
6      10000.0                        Company  HP13 6NU         NaN      NaN
7      26750.0  Limited Liability Partnership   SK9 5EQ   1663521.0  SK9 5EQ
8      60000.0                        Company  BB12 7TW     79281.0  BB127TW

           pcd8  Area code          ladnm  Average_age  \
index
0      YO30 6WQ  E06000014           York    40.661544
4      E15  2JA  E09000025         Newham    33.393116
6           NaN        NaN            NaN          NaN
7      SK9  5EQ  E06000049  Cheshire East    43.509145
8      BB12 7TW  E07000124  Ribble Valley    45.234531

       Qualification index score  ...  \
index                             ...
0                           2.72  ...
4                           2.48  ...
6                            NaN  ...
7                           2.61  ...
8                           2.71  ...

       Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
index
0                                                    0.2
4                                                    0.9
6                                                    NaN
7                                                    0.2
8                                                    0.2

       Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
index
0                                                    0.3
4                                                    1.2
6                                                    NaN
7                                                    0.5
8                                                    0.2

       Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
index
0                                                    0.5
4                                                    1.6
6                                                    NaN
7                                                    0.4
8                                                    0.3

       White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
index
0                                                   87.3
4                                                   14.8
6                                                    NaN
7                                                   89.6
8                                                   94.1

       White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
index
0                          0.6                                         0.2
4                          0.6                                         0.1
6                          NaN                                         NaN
7                          0.6                                         0.1
8                          0.6                                         0.0

       White: Roma\n(percent)  White: Other White\n(percent)  \
index
0                         0.1                            4.6
4                         0.7                           14.6
6                         NaN                            NaN
7                         0.1                            4.0
8                         0.0                            1.6

       Other ethnic group: Arab\n(percent)  \
index
0                                      0.3
4                                      1.0
6                                      NaN
7                                      0.2
8                                      0.1

       Other ethnic group: Any other ethnic group\n(percent)
index
0                                                    0.7
4                                                    3.9
6                                                    NaN
7                                                    0.6
8                                                    0.2

[5 rows x 30 columns]
merged df shape:  (46612, 30)


<class 'pandas.core.frame.DataFrame'>
Index: 46612 entries, 0 to 84468
Data columns (total 25 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Value                                                                             46612 non-null  float64
 1   DonorStatus                                                                       46514 non-null  object
 2   ladnm                                                                             38064 non-null  object
 3   Average_age                                                                       38064 non-null  float64
 4   Qualification index score                                                         38064 non-null  float64
 5   Net annual income after housing costs (£)                                         38064 non-null  float64
 6   Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        38064 non-null  float64
 7   Asian, Asian British or Asian Welsh: Chinese
(percent)                            38064 non-null  float64
 8   Asian, Asian British or Asian Welsh: Indian
(percent)                             38064 non-null  float64
 9   Asian, Asian British or Asian Welsh: Pakistani
(percent)                          38064 non-null  float64
 10  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        38064 non-null  float64
 11  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        38064 non-null  float64
 12  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      38064 non-null  float64
 13  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    38064 non-null  float64
 14  Mixed or Multiple ethnic groups: White and Asian
(percent)                        38064 non-null  float64
 15  Mixed or Multiple ethnic groups: White and Black African
(percent)               38064 non-null  float64
 16  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              38064 non-null  float64
 17  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  38064 non-null  float64
 18  White: English, Welsh, Scottish, Northern Irish or British
(percent)              38064 non-null  float64
 19  White: Irish
(percent)                                                            38064 non-null  float64
 20  White: Gypsy or Irish Traveller
(percent)                                         38064 non-null  float64
 21  White: Roma
(percent)                                                             38064 non-null  float64
 22  White: Other White
(percent)                                                      38064 non-null  float64
 23  Other ethnic group: Arab
(percent)                                                38064 non-null  float64
 24  Other ethnic group: Any other ethnic group
(percent)                              38064 non-null  float64
dtypes: float64(23), object(2)
memory usage: 9.2+ MB
None
localized_prep_df shape:  (46612, 25)

In [35]:
tmp_join_df = localized_prep_df.copy()
tmp_join_df = tmp_join_df.drop(['Value', 'DonorStatus'], axis=1)
tmp_wip_df = wip_df.copy()

pre_export_df = tmp_wip_df.join(tmp_join_df)

print(pre_export_df.head(61))
print("_________________________________________")
print()
print(pre_export_df.info())
print("_________________________________________")
print()
to_drop = pre_export_df.copy()
to_drop_rows = to_drop.loc[(to_drop["DonorStatus"] != "Individual") & (to_drop["Average_age"].isna())]
print(to_drop_rows.index)
print(type(to_drop_rows.index))
to_drop_rows_idx = to_drop_rows.index
print("shape of rows to drop: ", to_drop_rows.shape)
print("dropping from total of {0} non-individual rows".format(sum(to_drop["DonorStatus"] != "Individual")))
print("_________________________________________")
print()
export_df = pre_export_df.copy()
export_df = export_df.drop(to_drop_rows_idx)
print("leaving total of {0} non-individual rows".format(sum(export_df["DonorStatus"] != "Individual")))
print("_________________________________________")
print()
print(export_df.head(61))
print("_________________________________________")
print()
export_df = export_df.reset_index(drop=True)
print(export_df.head(61))

       ECRef                   RegulatedEntityName RegulatedEntityType  \
0   C0583991  Labour Campaign For Electoral Reform     Regulated Donee
1   C0579011                       Labour Together     Regulated Donee
2   C0579009                       Labour Together     Regulated Donee
3   C0579010                       Labour Together     Regulated Donee
4   C0579007                      The Spring Lunch     Regulated Donee
..       ...                                   ...                 ...
56  V0578661            The Rt Hon Elizabeth Truss     Regulated Donee
57  C0578652                        Mr Bim Afolami     Regulated Donee
58  C0576264                           Alan Mak MP     Regulated Donee
59  C0576322             The Rt Hon Dr Liam Fox MP     Regulated Donee
60  C0576335                         Labour To Win     Regulated Donee

       Value AcceptedDate AccountingUnitName  \
0    20000.0   08/07/2024                NaN
1   175500.0   08/07/2024                NaN
2    12500.0   24/06/2024                NaN
3   325000.0   21/06/2024                NaN
4     6000.0   21/06/2024                NaN
..       ...          ...                ...
56    4046.0   17/04/2024                NaN
57    5000.0   17/04/2024                NaN
58   20000.0   16/04/2024                NaN
59   10000.0   16/04/2024                NaN
60   25000.0   15/04/2024                NaN

                           DonorName  AccountingUnitsAsCentralParty  \
0       Joseph Rowntree Reform Trust                          False
1               Lord David Sainsbury                          False
2                    Mr Trevor Chinn                          False
3                      Martin Taylor                          False
4                     FT Estates Ltd                          False
..                               ...                            ...
56               Heritage Foundation                          False
57                       Arnold Ekpe                          False
58                           Yan Huo                          False
59  First Corporate Shipping Limited                          False
60                       Gary Lubner                          False

    IsSponsorship                 DonorStatus  ...  \
0           False                     Company  ...
1           False                  Individual  ...
2           False                  Individual  ...
3           False                  Individual  ...
4           False                     Company  ...
..            ...                         ...  ...
56          False  Unincorporated Association  ...
57          False                  Individual  ...
58          False                  Individual  ...
59          False                     Company  ...
60          False                  Individual  ...

   Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0                                                 0.2
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 0.9
..                                                ...
56                                                NaN
57                                                NaN
58                                                NaN
59                                                0.6
60                                                NaN

   Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                 0.3
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 1.2
..                                                ...
56                                                NaN
57                                                NaN
58                                                NaN
59                                                0.6
60                                                NaN

   Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                 0.5
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 1.6
..                                                ...
56                                                NaN
57                                                NaN
58                                                NaN
59                                                2.2
60                                                NaN

   White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                                87.3
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                14.8
..                                                ...
56                                                NaN
57                                                NaN
58                                                NaN
59                                               42.5
60                                                NaN

   White: Irish\n(percent) White: Gypsy or Irish Traveller\n(percent)  \
0                      0.6                                        0.2
1                      NaN                                        NaN
2                      NaN                                        NaN
3                      NaN                                        NaN
4                      0.6                                        0.1
..                     ...                                        ...
56                     NaN                                        NaN
57                     NaN                                        NaN
58                     NaN                                        NaN
59                     2.2                                        0.0
60                     NaN                                        NaN

   White: Roma\n(percent) White: Other White\n(percent)  \
0                     0.1                           4.6
1                     NaN                           NaN
2                     NaN                           NaN
3                     NaN                           NaN
4                     0.7                          14.6
..                    ...                           ...
56                    NaN                           NaN
57                    NaN                           NaN
58                    NaN                           NaN
59                    0.7                          24.0
60                    NaN                           NaN

   Other ethnic group: Arab\n(percent)  \
0                                  0.3
1                                  NaN
2                                  NaN
3                                  NaN
4                                  1.0
..                                 ...
56                                 NaN
57                                 NaN
58                                 NaN
59                                 1.3
60                                 NaN

   Other ethnic group: Any other ethnic group\n(percent)
0                                                 0.7
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 3.9
..                                                ...
56                                                NaN
57                                                NaN
58                                                NaN
59                                                4.3
60                                                NaN

[61 rows x 54 columns]
_________________________________________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84470 entries, 0 to 84469
Data columns (total 54 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   ECRef                                                                             84470 non-null  object
 1   RegulatedEntityName                                                               84470 non-null  object
 2   RegulatedEntityType                                                               84470 non-null  object
 3   Value                                                                             84470 non-null  float64
 4   AcceptedDate                                                                      82941 non-null  object
 5   AccountingUnitName                                                                73574 non-null  object
 6   DonorName                                                                         84344 non-null  object
 7   AccountingUnitsAsCentralParty                                                     84470 non-null  bool
 8   IsSponsorship                                                                     84470 non-null  bool
 9   DonorStatus                                                                       84372 non-null  object
 10  RegulatedDoneeType                                                                9510 non-null   object
 11  CompanyRegistrationNumber                                                         15200 non-null  object
 12  Postcode                                                                          45585 non-null  object
 13  DonationType                                                                      84470 non-null  object
 14  NatureOfDonation                                                                  13641 non-null  object
 15  PurposeOfVisit                                                                    3238 non-null   object
 16  DonationAction                                                                    365 non-null    object
 17  ReceivedDate                                                                      81063 non-null  object
 18  ReportedDate                                                                      84449 non-null  object
 19  IsReportedPrePoll                                                                 48929 non-null  object
 20  ReportingPeriodName                                                               84470 non-null  object
 21  IsBequest                                                                         84470 non-null  bool
 22  IsAggregation                                                                     84470 non-null  bool
 23  RegulatedEntityId                                                                 84470 non-null  int64
 24  AccountingUnitId                                                                  45831 non-null  float64
 25  DonorId                                                                           84348 non-null  float64
 26  CampaigningName                                                                   5 non-null      object
 27  RegisterName                                                                      83084 non-null  object
 28  IsIrishSource                                                                     83625 non-null  object
 29  gender                                                                            37858 non-null  object
 30  val_split                                                                         84470 non-null  object
 31  ladnm                                                                             38064 non-null  object
 32  Average_age                                                                       38064 non-null  float64
 33  Qualification index score                                                         38064 non-null  float64
 34  Net annual income after housing costs (£)                                         38064 non-null  float64
 35  Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        38064 non-null  float64
 36  Asian, Asian British or Asian Welsh: Chinese
(percent)                            38064 non-null  float64
 37  Asian, Asian British or Asian Welsh: Indian
(percent)                             38064 non-null  float64
 38  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          38064 non-null  float64
 39  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        38064 non-null  float64
 40  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        38064 non-null  float64
 41  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      38064 non-null  float64
 42  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    38064 non-null  float64
 43  Mixed or Multiple ethnic groups: White and Asian
(percent)                        38064 non-null  float64
 44  Mixed or Multiple ethnic groups: White and Black African
(percent)               38064 non-null  float64
 45  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              38064 non-null  float64
 46  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  38064 non-null  float64
 47  White: English, Welsh, Scottish, Northern Irish or British
(percent)              38064 non-null  float64
 48  White: Irish
(percent)                                                            38064 non-null  float64
 49  White: Gypsy or Irish Traveller
(percent)                                         38064 non-null  float64
 50  White: Roma
(percent)                                                             38064 non-null  float64
 51  White: Other White
(percent)                                                      38064 non-null  float64
 52  Other ethnic group: Arab
(percent)                                                38064 non-null  float64
 53  Other ethnic group: Any other ethnic group
(percent)                              38064 non-null  float64
dtypes: bool(4), float64(25), int64(1), object(24)
memory usage: 32.5+ MB
None
_________________________________________

Index([    6,    19,    45,    56,    93,    94,    97,    98,   100,   104,
       ...
       84441, 84442, 84443, 84446, 84447, 84453, 84454, 84457, 84467, 84468],
      dtype='int64', length=8548)
<class 'pandas.core.indexes.base.Index'>
shape of rows to drop:  (8548, 54)
dropping from total of 46612 non-individual rows
_________________________________________

leaving total of 38064 non-individual rows
_________________________________________

        ECRef                   RegulatedEntityName RegulatedEntityType  \
0    C0583991  Labour Campaign For Electoral Reform     Regulated Donee
1    C0579011                       Labour Together     Regulated Donee
2    C0579009                       Labour Together     Regulated Donee
3    C0579010                       Labour Together     Regulated Donee
4    C0579007                      The Spring Lunch     Regulated Donee
..        ...                                   ...                 ...
60   C0576335                         Labour To Win     Regulated Donee
61   C0578663                   Mr Jeremy Corbyn MP     Regulated Donee
62  NC0578604                         Alberto Costa     Regulated Donee
63   C0576284                         Dan Jarvis MP     Regulated Donee
64   C0576273                          Andy Burnham     Regulated Donee

       Value AcceptedDate AccountingUnitName                     DonorName  \
0    20000.0   08/07/2024                NaN  Joseph Rowntree Reform Trust
1   175500.0   08/07/2024                NaN          Lord David Sainsbury
2    12500.0   24/06/2024                NaN               Mr Trevor Chinn
3   325000.0   21/06/2024                NaN                 Martin Taylor
4     6000.0   21/06/2024                NaN                FT Estates Ltd
..       ...          ...                ...                           ...
60   25000.0   15/04/2024                NaN                   Gary Lubner
61    5000.0   12/04/2024                NaN             We Deserve Better
62    3154.0   12/04/2024                NaN           Tratos (UK) Limited
63   13500.0   12/04/2024                NaN                 OPD Group Ltd
64    5000.0   09/04/2024                NaN               NW Labour Party

    AccountingUnitsAsCentralParty  IsSponsorship                 DonorStatus  \
0                           False          False                     Company
1                           False          False                  Individual
2                           False          False                  Individual
3                           False          False                  Individual
4                           False          False                     Company
..                            ...            ...                         ...
60                          False          False                  Individual
61                          False          False  Unincorporated Association
62                          False          False                     Company
63                          False          False                     Company
64                          False          False  Registered Political Party

    ... Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0   ...                                                0.2
1   ...                                                NaN
2   ...                                                NaN
3   ...                                                NaN
4   ...                                                0.9
..  ...                                                ...
60  ...                                                NaN
61  ...                                                0.7
62  ...                                                0.4
63  ...                                                0.5
64  ...                                                0.3

   Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                 0.3
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 1.2
..                                                ...
60                                                NaN
61                                                1.2
62                                                0.5
63                                                1.3
64                                                0.4

   Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                 0.5
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 1.6
..                                                ...
60                                                NaN
61                                                1.7
62                                                0.4
63                                                1.4
64                                                0.4

   White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \

In [31]:
preprocessed_dir_path = os.path.join(os.getcwd(), "Preprocessed_Data")
if os.path.exists(preprocessed_dir_path) != True:
    os.mkdir(preprocessed_dir_path)

out_path = os.path.join(preprocessed_dir_path, "cat_localized_gendered_df_2.csv")

export_df.to_csv(out_path)

In [44]:
print(export_df["RegulatedDoneeType"].unique())

['Members Association' 'MP - Member of Parliament' 'Mayor' 'Senedd Member'
 nan 'MSP - Member of the Scottish Parliament' 'Leadership Candidate'
 'Member of Registered Political Party' 'Police and Crime Commissioner'
 'MLA - Member of the Legislative Authority of Northern Ireland' 'Other'
 'Candidate' 'Cllr. - Member of a Local Authority'
 'GLA - Assembly Member (Greater London)'
 'AM - Member of the National Assembly for Wales'
 'MEP - Member of the European Parliament']

In [46]:
print(export_df["gender"].unique())
print(sum(export_df["gender"].isna()))
export_df["gender"] = export_df["gender"].fillna("not_a_person")
print(export_df["gender"].head(5))
print("_________________________________________")
print()
cols_trim = ["ECRef", "RegulatedEntityName", "AcceptedDate", "AccountingUnitName", "AccountingUnitsAsCentralParty", "IsSponsorship", "RegulatedDoneeType", "CompanyRegistrationNumber", "Postcode", "NatureOfDonation", "PurposeOfVisit", "DonationAction", "ReceivedDate", "ReportedDate", "IsReportedPrePoll", "ReportingPeriodName", "IsBequest", "RegulatedEntityId", "AccountingUnitId", "DonorId", "CampaigningName", "RegisterName", "IsIrishSource"]
trim_df = export_df.copy().drop(cols_trim, axis=1)
print("_________________________________________")
print()
print(trim_df.info())
print("_________________________________________")
print()
print(trim_df.head(15))

['not_a_person' 'male' 'mostly_male' 'female' 'andy' 'unknown'
 'mostly_female']
0
0    not_a_person
1            male
2            male
3            male
4    not_a_person
Name: gender, dtype: object
_________________________________________

_________________________________________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75922 entries, 0 to 75921
Data columns (total 31 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   RegulatedEntityType                                                               75922 non-null  object
 1   Value                                                                             75922 non-null  float64
 2   DonorName                                                                         75918 non-null  object
 3   DonorStatus                                                                       75922 non-null  object
 4   DonationType                                                                      75922 non-null  object
 5   IsAggregation                                                                     75922 non-null  bool
 6   gender                                                                            75922 non-null  object
 7   val_split                                                                         75922 non-null  object
 8   ladnm                                                                             38064 non-null  object
 9   Average_age                                                                       38064 non-null  float64
 10  Qualification index score                                                         38064 non-null  float64
 11  Net annual income after housing costs (£)                                         38064 non-null  float64
 12  Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        38064 non-null  float64
 13  Asian, Asian British or Asian Welsh: Chinese
(percent)                            38064 non-null  float64
 14  Asian, Asian British or Asian Welsh: Indian
(percent)                             38064 non-null  float64
 15  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          38064 non-null  float64
 16  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        38064 non-null  float64
 17  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        38064 non-null  float64
 18  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      38064 non-null  float64
 19  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    38064 non-null  float64
 20  Mixed or Multiple ethnic groups: White and Asian
(percent)                        38064 non-null  float64
 21  Mixed or Multiple ethnic groups: White and Black African
(percent)               38064 non-null  float64
 22  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              38064 non-null  float64
 23  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  38064 non-null  float64
 24  White: English, Welsh, Scottish, Northern Irish or British
(percent)              38064 non-null  float64
 25  White: Irish
(percent)                                                            38064 non-null  float64
 26  White: Gypsy or Irish Traveller
(percent)                                         38064 non-null  float64
 27  White: Roma
(percent)                                                             38064 non-null  float64
 28  White: Other White
(percent)                                                      38064 non-null  float64
 29  Other ethnic group: Arab
(percent)                                                38064 non-null  float64
 30  Other ethnic group: Any other ethnic group
(percent)                              38064 non-null  float64
dtypes: bool(1), float64(23), object(7)
memory usage: 17.4+ MB
None
_________________________________________

   RegulatedEntityType     Value                     DonorName  \
0      Regulated Donee   20000.0  Joseph Rowntree Reform Trust
1      Regulated Donee  175500.0          Lord David Sainsbury
2      Regulated Donee   12500.0               Mr Trevor Chinn
3      Regulated Donee  325000.0                 Martin Taylor
4      Regulated Donee    6000.0                FT Estates Ltd
5      Regulated Donee    1500.0              Sir Trevor Chinn
6      Regulated Donee   26750.0                B & Combes LLP
7      Regulated Donee   60000.0   Cohiba Support Services Ltd
8      Regulated Donee    5000.0                     John Hall
9      Regulated Donee    5000.0              The Carlton Club
10     Regulated Donee   10000.0                  Gary Lydiate
11     Regulated Donee    2900.0                    Andrew Law
12     Regulated Donee    5000.0                  David Franks
13     Regulated Donee   20000.0       Northern Campaign Group
14     Regulated Donee    3200.0   Mount Digital Solutions Ltd

                      DonorStatus DonationType  IsAggregation        gender  \
0                         Company         Cash          False  not_a_person
1                      Individual         Cash          False          male
2                      Individual         Cash          False          male
3                      Individual         Cash          False          male
4                         Company         Cash           True  not_a_person
5                      Individual         Cash           True          male
6   Limited Liability Partnership     Non Cash          False  not_a_person
7                         Company         Cash          False  not_a_person
8                      Individual         Cash          False          male
9                         Company         Cash          False  not_a_person
10                     Individual         Cash          False          male
11                     Individual         Cash          False          male
12                     Individual         Cash          False          male
13     Unincorporated Association         Cash          False  not_a_person
14                        Company     Non Cash          False  not_a_person

         val_split          ladnm  Average_age  ...  \
0     10000-100000           York    40.661544  ...
1   100000-1000000            NaN          NaN  ...
2     10000-100000            NaN          NaN  ...
3   100000-1000000            NaN          NaN  ...
4       5000-10000         Newham    33.393116  ...
5        1000-2500            NaN          NaN  ...
6     10000-100000  Cheshire East    43.509145  ...
7     10000-100000  Ribble Valley    45.234531  ...
8       5000-10000            NaN          NaN  ...
9       5000-10000    Westminster    38.398510  ...
10    10000-100000            NaN          NaN  ...
11       2500-5000            NaN          NaN  ...
12      5000-10000            NaN          NaN  ...
13    10000-100000     Rossendale    41.569911  ...
14       2500-5000     Manchester    33.543026  ...

    Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0                                                 0.2
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 0.9
5                                                 NaN
6                                                 0.2
7                                                 0.2
8                                                 NaN
9                                                 1.0
10                                                NaN
11                                                NaN
12                                                NaN
13                                                0.2
14                                                1.1

    Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                 0.3
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 1.2
5                                                 NaN
6                                                 0.5
7                                                 0.2
8                                                 NaN
9                                                 1.0
10                                                NaN
11                                                NaN
12                                                NaN
13                                                0.4
14                                                1.8

    Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                 0.5
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 1.6
5                                                 NaN
6                                                 0.4
7                                                 0.3
8                                                 NaN
9                                                 2.7
10                                                NaN
11                                                NaN
12                                                NaN
13                                                0.3
14                                                1.2

    White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                                87.3
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                14.8
5                                                 NaN
6                                                89.6
7                                                94.1
8                                                 NaN
9                                                28.0
10                                                NaN
11                                                NaN
12                                                NaN
13                                               90.4
14                                               48.7

    White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
0                       0.6                                         0.2
1                       NaN                                         NaN
2                       NaN                                         NaN
3                       NaN                                         NaN
4                       0.6                                         0.1
5                       NaN                                         NaN
6                       0.6                                         0.1
7                       0.6                                         0.0
8                       NaN                                         NaN
9                       1.8                                         0.0
10                      NaN                                         NaN
11                      NaN                                         NaN
12                      NaN                                         NaN
13                      0.7                                         0.0
14                      1.7                                         0.1

    White: Roma\n(percent)  White: Other White\n(percent)  \
0                      0.1                            4.6
1                      NaN                            NaN
2                      NaN                            NaN
3                      NaN                            NaN
4                      0.7                           14.6
5                      NaN                            NaN
6                      0.1                            4.0
7                      0.0                            1.6
8                      NaN                            NaN
9                      0.7                           24.6
10                     NaN                            NaN
11                     NaN                            NaN
12                     NaN                            NaN
13                     0.0                            1.3
14                     0.2                            6.2

    Other ethnic group: Arab\n(percent)  \
0                                   0.3
1                                   NaN
2                                   NaN
3                                   NaN
4                                   1.0
5                                   NaN
6                                   0.2
7                                   0.1
8                                   NaN
9                                   7.6
10                                  NaN
11                                  NaN
12                                  NaN
13                                  0.1
14                                  2.7

    Other ethnic group: Any other ethnic group\n(percent)
0                                                 0.7
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 3.9
5                                                 NaN
6                                                 0.6
7                                                 0.2
8                                                 NaN
9                                                 5.9
10                                                NaN
11                                                NaN
12                                                NaN
13                                                0.3
14                                                2.4

[15 rows x 31 columns]

In [67]:
print(trim_df[trim_df["DonorName"].isnull()].index)
print("_________________________________________")
print()
trim_df_clean = trim_df.copy()
last_drop = []
for i in trim_df[trim_df["DonorName"].isnull()].index:
    last_drop.append(i)
print(last_drop)
print("_________________________________________")
print()
trim_df_clean = trim_df_clean.drop(last_drop)
trim_df_clean = trim_df_clean.reset_index()
print(trim_df_clean.info())
print("_________________________________________")
print()
print(trim_df_clean.head(15))

Index([74941, 75219, 75418, 75439], dtype='int64')
_________________________________________

[74941, 75219, 75418, 75439]
_________________________________________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75918 entries, 0 to 75917
Data columns (total 32 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   index                                                                             75918 non-null  int64
 1   RegulatedEntityType                                                               75918 non-null  object
 2   Value                                                                             75918 non-null  float64
 3   DonorName                                                                         75918 non-null  object
 4   DonorStatus                                                                       75918 non-null  object
 5   DonationType                                                                      75918 non-null  object
 6   IsAggregation                                                                     75918 non-null  bool
 7   gender                                                                            75918 non-null  object
 8   val_split                                                                         75918 non-null  object
 9   ladnm                                                                             38064 non-null  object
 10  Average_age                                                                       38064 non-null  float64
 11  Qualification index score                                                         38064 non-null  float64
 12  Net annual income after housing costs (£)                                         38064 non-null  float64
 13  Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        38064 non-null  float64
 14  Asian, Asian British or Asian Welsh: Chinese
(percent)                            38064 non-null  float64
 15  Asian, Asian British or Asian Welsh: Indian
(percent)                             38064 non-null  float64
 16  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          38064 non-null  float64
 17  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        38064 non-null  float64
 18  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        38064 non-null  float64
 19  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      38064 non-null  float64
 20  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    38064 non-null  float64
 21  Mixed or Multiple ethnic groups: White and Asian
(percent)                        38064 non-null  float64
 22  Mixed or Multiple ethnic groups: White and Black African
(percent)               38064 non-null  float64
 23  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              38064 non-null  float64
 24  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  38064 non-null  float64
 25  White: English, Welsh, Scottish, Northern Irish or British
(percent)              38064 non-null  float64
 26  White: Irish
(percent)                                                            38064 non-null  float64
 27  White: Gypsy or Irish Traveller
(percent)                                         38064 non-null  float64
 28  White: Roma
(percent)                                                             38064 non-null  float64
 29  White: Other White
(percent)                                                      38064 non-null  float64
 30  Other ethnic group: Arab
(percent)                                                38064 non-null  float64
 31  Other ethnic group: Any other ethnic group
(percent)                              38064 non-null  float64
dtypes: bool(1), float64(23), int64(1), object(7)
memory usage: 18.0+ MB
None
_________________________________________

    index RegulatedEntityType     Value                     DonorName  \
0       0     Regulated Donee   20000.0  Joseph Rowntree Reform Trust
1       1     Regulated Donee  175500.0          Lord David Sainsbury
2       2     Regulated Donee   12500.0               Mr Trevor Chinn
3       3     Regulated Donee  325000.0                 Martin Taylor
4       4     Regulated Donee    6000.0                FT Estates Ltd
5       5     Regulated Donee    1500.0              Sir Trevor Chinn
6       6     Regulated Donee   26750.0                B & Combes LLP
7       7     Regulated Donee   60000.0   Cohiba Support Services Ltd
8       8     Regulated Donee    5000.0                     John Hall
9       9     Regulated Donee    5000.0              The Carlton Club
10     10     Regulated Donee   10000.0                  Gary Lydiate
11     11     Regulated Donee    2900.0                    Andrew Law
12     12     Regulated Donee    5000.0                  David Franks
13     13     Regulated Donee   20000.0       Northern Campaign Group
14     14     Regulated Donee    3200.0   Mount Digital Solutions Ltd

                      DonorStatus DonationType  IsAggregation        gender  \
0                         Company         Cash          False  not_a_person
1                      Individual         Cash          False          male
2                      Individual         Cash          False          male
3                      Individual         Cash          False          male
4                         Company         Cash           True  not_a_person
5                      Individual         Cash           True          male
6   Limited Liability Partnership     Non Cash          False  not_a_person
7                         Company         Cash          False  not_a_person
8                      Individual         Cash          False          male
9                         Company         Cash          False  not_a_person
10                     Individual         Cash          False          male
11                     Individual         Cash          False          male
12                     Individual         Cash          False          male
13     Unincorporated Association         Cash          False  not_a_person
14                        Company     Non Cash          False  not_a_person

         val_split          ladnm  ...  \
0     10000-100000           York  ...
1   100000-1000000            NaN  ...
2     10000-100000            NaN  ...
3   100000-1000000            NaN  ...
4       5000-10000         Newham  ...
5        1000-2500            NaN  ...
6     10000-100000  Cheshire East  ...
7     10000-100000  Ribble Valley  ...
8       5000-10000            NaN  ...
9       5000-10000    Westminster  ...
10    10000-100000            NaN  ...
11       2500-5000            NaN  ...
12      5000-10000            NaN  ...
13    10000-100000     Rossendale  ...
14       2500-5000     Manchester  ...

    Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0                                                 0.2
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 0.9
5                                                 NaN
6                                                 0.2
7                                                 0.2
8                                                 NaN
9                                                 1.0
10                                                NaN
11                                                NaN
12                                                NaN
13                                                0.2
14                                                1.1

    Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                 0.3
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 1.2
5                                                 NaN
6                                                 0.5
7                                                 0.2
8                                                 NaN
9                                                 1.0
10                                                NaN
11                                                NaN
12                                                NaN
13                                                0.4
14                                                1.8

    Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                 0.5
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 1.6
5                                                 NaN
6                                                 0.4
7                                                 0.3
8                                                 NaN
9                                                 2.7
10                                                NaN
11                                                NaN
12                                                NaN
13                                                0.3
14                                                1.2

    White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                                87.3
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                14.8
5                                                 NaN
6                                                89.6
7                                                94.1
8                                                 NaN
9                                                28.0
10                                                NaN
11                                                NaN
12                                                NaN
13                                               90.4
14                                               48.7

    White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
0                       0.6                                         0.2
1                       NaN                                         NaN
2                       NaN                                         NaN
3                       NaN                                         NaN
4                       0.6                                         0.1
5                       NaN                                         NaN
6                       0.6                                         0.1
7                       0.6                                         0.0
8                       NaN                                         NaN
9                       1.8                                         0.0
10                      NaN                                         NaN
11                      NaN                                         NaN
12                      NaN                                         NaN
13                      0.7                                         0.0
14                      1.7                                         0.1

    White: Roma\n(percent)  White: Other White\n(percent)  \
0                      0.1                            4.6
1                      NaN                            NaN
2                      NaN                            NaN
3                      NaN                            NaN
4                      0.7                           14.6
5                      NaN                            NaN
6                      0.1                            4.0
7                      0.0                            1.6
8                      NaN                            NaN
9                      0.7                           24.6
10                     NaN                            NaN
11                     NaN                            NaN
12                     NaN                            NaN
13                     0.0                            1.3
14                     0.2                            6.2

    Other ethnic group: Arab\n(percent)  \
0                                   0.3
1                                   NaN
2                                   NaN
3                                   NaN
4                                   1.0
5                                   NaN
6                                   0.2
7                                   0.1
8                                   NaN
9                                   7.6
10                                  NaN
11                                  NaN
12                                  NaN
13                                  0.1
14                                  2.7

    Other ethnic group: Any other ethnic group\n(percent)
0                                                 0.7
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 3.9
5                                                 NaN
6                                                 0.6
7                                                 0.2
8                                                 NaN
9                                                 5.9
10                                                NaN
11                                                NaN
12                                                NaN
13                                                0.3
14                                                2.4

[15 rows x 32 columns]

In [ ]:
preprocessed_dir_path = os.path.join(os.getcwd(), "Preprocessed_Data")
if os.path.exists(preprocessed_dir_path) != True:
    os.mkdir(preprocessed_dir_path)

out_path = os.path.join(preprocessed_dir_path, "for_cat_analysis_1_DO_NOT_USE.csv")

trim_df_clean.to_csv(out_path)

In [69]:
#code taken and adapted from: https://www.geeksforgeeks.org/ml-one-hot-encoding/ 

from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

df_to_enc = trim_df_clean.copy()
print("shape original: ", df_to_enc.shape)
print("_________________________________________")
print()
columns_to_transform = ["RegulatedEntityType", "DonorStatus", "DonationType", "IsAggregation", "gender"]
one_hot_encoded = encoder.fit_transform(df_to_enc[columns_to_transform])

one_hot_df = pandas.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(columns_to_transform))
print("shape encoded cols: ", one_hot_df.shape)
print("-----------------------------------------")
print()
print(f"head of encoded cols, \n{one_hot_df}")
print()
print("_________________________________________")
print()
# df_encoded = pandas.concat([df_to_enc, one_hot_df], axis=1)
df_encoded = df_to_enc.join(one_hot_df)

df_encoded = df_encoded.drop(columns_to_transform, axis=1)

print(df_encoded.info())
print("_________________________________________")
print()
print(f"Encoded data : \n{df_encoded}")

shape original:  (75918, 32)
_________________________________________

shape encoded cols:  (75918, 30)
-----------------------------------------

head of encoded cols,
       RegulatedEntityType_Permitted Participant  \
0                                            0.0
1                                            0.0
2                                            0.0
3                                            0.0
4                                            0.0
...                                          ...
75913                                        0.0
75914                                        1.0
75915                                        0.0
75916                                        1.0
75917                                        1.0

       RegulatedEntityType_Political Party  \
0                                      0.0
1                                      0.0
2                                      0.0
3                                      0.0
4                                      0.0
...                                    ...
75913                                  1.0
75914                                  0.0
75915                                  1.0
75916                                  0.0
75917                                  0.0

       RegulatedEntityType_Regulated Donee  RegulatedEntityType_Third Party  \
0                                      1.0                              0.0
1                                      1.0                              0.0
2                                      1.0                              0.0
3                                      1.0                              0.0
4                                      1.0                              0.0
...                                    ...                              ...
75913                                  0.0                              0.0
75914                                  0.0                              0.0
75915                                  0.0                              0.0
75916                                  0.0                              0.0
75917                                  0.0                              0.0

       DonorStatus_Building Society  DonorStatus_Company  \
0                               0.0                  1.0
1                               0.0                  0.0
2                               0.0                  0.0
3                               0.0                  0.0
4                               0.0                  1.0
...                             ...                  ...
75913                           0.0                  0.0
75914                           0.0                  0.0
75915                           0.0                  0.0
75916                           0.0                  1.0
75917                           0.0                  0.0

       DonorStatus_Friendly Society  DonorStatus_Individual  \
0                               0.0                     0.0
1                               0.0                     1.0
2                               0.0                     1.0
3                               0.0                     1.0
4                               0.0                     0.0
...                             ...                     ...
75913                           0.0                     1.0
75914                           0.0                     1.0
75915                           0.0                     1.0
75916                           0.0                     0.0
75917                           0.0                     1.0

       DonorStatus_Limited Liability Partnership  DonorStatus_Other  ...  \
0                                            0.0                0.0  ...
1                                            0.0                0.0  ...
2                                            0.0                0.0  ...
3                                            0.0                0.0  ...
4                                            0.0                0.0  ...
...                                          ...                ...  ...
75913                                        0.0                0.0  ...
75914                                        0.0                0.0  ...
75915                                        0.0                0.0  ...
75916                                        0.0                0.0  ...
75917                                        0.0                0.0  ...

       DonationType_Visit  IsAggregation_False  IsAggregation_True  \
0                     0.0                  1.0                 0.0
1                     0.0                  1.0                 0.0
2                     0.0                  1.0                 0.0
3                     0.0                  1.0                 0.0
4                     0.0                  0.0                 1.0
...                   ...                  ...                 ...
75913                 0.0                  1.0                 0.0
75914                 0.0                  1.0                 0.0
75915                 0.0                  1.0                 0.0
75916                 0.0                  1.0                 0.0
75917                 0.0                  1.0                 0.0

       gender_andy  gender_female  gender_male  gender_mostly_female  \
0              0.0            0.0          0.0                   0.0
1              0.0            0.0          1.0                   0.0
2              0.0            0.0          1.0                   0.0
3              0.0            0.0          1.0                   0.0
4              0.0            0.0          0.0                   0.0
...            ...            ...          ...                   ...
75913          0.0            0.0          0.0                   0.0
75914          0.0            0.0          1.0                   0.0
75915          0.0            0.0          1.0                   0.0
75916          0.0            0.0          0.0                   0.0
75917          0.0            0.0          1.0                   0.0

       gender_mostly_male  gender_not_a_person  gender_unknown
0                     0.0                  1.0             0.0
1                     0.0                  0.0             0.0
2                     0.0                  0.0             0.0
3                     0.0                  0.0             0.0
4                     0.0                  1.0             0.0
...                   ...                  ...             ...
75913                 0.0                  0.0             1.0
75914                 0.0                  0.0             0.0
75915                 0.0                  0.0             0.0
75916                 0.0                  1.0             0.0
75917                 0.0                  0.0             0.0

[75918 rows x 30 columns]

_________________________________________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75918 entries, 0 to 75917
Data columns (total 57 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   index                                                                             75918 non-null  int64
 1   Value                                                                             75918 non-null  float64
 2   DonorName                                                                         75918 non-null  object
 3   val_split                                                                         75918 non-null  object
 4   ladnm                                                                             38064 non-null  object
 5   Average_age                                                                       38064 non-null  float64
 6   Qualification index score                                                         38064 non-null  float64
 7   Net annual income after housing costs (£)                                         38064 non-null  float64
 8   Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        38064 non-null  float64
 9   Asian, Asian British or Asian Welsh: Chinese
(percent)                            38064 non-null  float64
 10  Asian, Asian British or Asian Welsh: Indian
(percent)                             38064 non-null  float64
 11  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          38064 non-null  float64
 12  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        38064 non-null  float64
 13  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        38064 non-null  float64
 14  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      38064 non-null  float64
 15  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    38064 non-null  float64
 16  Mixed or Multiple ethnic groups: White and Asian
(percent)                        38064 non-null  float64
 17  Mixed or Multiple ethnic groups: White and Black African
(percent)               38064 non-null  float64
 18  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              38064 non-null  float64
 19  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  38064 non-null  float64
 20  White: English, Welsh, Scottish, Northern Irish or British
(percent)              38064 non-null  float64
 21  White: Irish
(percent)                                                            38064 non-null  float64
 22  White: Gypsy or Irish Traveller
(percent)                                         38064 non-null  float64
 23  White: Roma
(percent)                                                             38064 non-null  float64
 24  White: Other White
(percent)                                                      38064 non-null  float64
 25  Other ethnic group: Arab
(percent)                                                38064 non-null  float64
 26  Other ethnic group: Any other ethnic group
(percent)                              38064 non-null  float64
 27  RegulatedEntityType_Permitted Participant                                         75918 non-null  float64
 28  RegulatedEntityType_Political Party                                               75918 non-null  float64
 29  RegulatedEntityType_Regulated Donee                                               75918 non-null  float64
 30  RegulatedEntityType_Third Party                                                   75918 non-null  float64
 31  DonorStatus_Building Society                                                      75918 non-null  float64
 32  DonorStatus_Company                                                               75918 non-null  float64
 33  DonorStatus_Friendly Society                                                      75918 non-null  float64
 34  DonorStatus_Individual                                                            75918 non-null  float64
 35  DonorStatus_Limited Liability Partnership                                         75918 non-null  float64
 36  DonorStatus_Other                                                                 75918 non-null  float64
 37  DonorStatus_Public Fund                                                           75918 non-null  float64
 38  DonorStatus_Registered Political Party                                            75918 non-null  float64
 39  DonorStatus_Trade Union                                                           75918 non-null  float64
 40  DonorStatus_Trust                                                                 75918 non-null  float64
 41  DonorStatus_Unincorporated Association                                            75918 non-null  float64
 42  DonationType_Cash                                                                 75918 non-null  float64
 43  DonationType_Exempt Trust                                                         75918 non-null  float64
 44  DonationType_Impermissible Donor                                                  75918 non-null  float64
 45  DonationType_Non Cash                                                             75918 non-null  float64
 46  DonationType_Public Funds                                                         75918 non-null  float64
 47  DonationType_Visit                                                                75918 non-null  float64
 48  IsAggregation_False                                                               75918 non-null  float64
 49  IsAggregation_True                                                                75918 non-null  float64
 50  gender_andy                                                                       75918 non-null  float64
 51  gender_female                                                                     75918 non-null  float64
 52  gender_male                                                                       75918 non-null  float64
 53  gender_mostly_female                                                              75918 non-null  float64
 54  gender_mostly_male                                                                75918 non-null  float64
 55  gender_not_a_person                                                               75918 non-null  float64
 56  gender_unknown                                                                    75918 non-null  float64
dtypes: float64(53), int64(1), object(3)
memory usage: 33.0+ MB
None
_________________________________________

Encoded data :
       index     Value                     DonorName       val_split  \
0          0   20000.0  Joseph Rowntree Reform Trust    10000-100000
1          1  175500.0          Lord David Sainsbury  100000-1000000
2          2   12500.0               Mr Trevor Chinn    10000-100000
3          3  325000.0                 Martin Taylor  100000-1000000
4          4    6000.0                FT Estates Ltd      5000-10000
...      ...       ...                           ...             ...
75913  75917   10000.0         Mrs Jelena Guadagnini    10000-100000
75914  75918   10000.0               Michael Cowdray    10000-100000
75915  75919   10000.0     Professor Peter F Saville    10000-100000
75916  75920   75000.0                  Techtest Ltd    10000-100000
75917  75921  100000.0             Mr Jeremy Hosking  100000-1000000

                          ladnm  Average_age  Qualification index score  \
0                          York    40.661544                       2.72
1                           NaN          NaN                        NaN
2                           NaN          NaN                        NaN
3                           NaN          NaN                        NaN
4                        Newham    33.393116                       2.48
...                         ...          ...                        ...
75913                       NaN          NaN                        NaN
75914                       NaN          NaN                        NaN
75915                       NaN          NaN                        NaN
75916  Herefordshire, County of    45.796830                       2.44
75917                       NaN          NaN                        NaN

       Net annual income after housing costs (£)  \
0                                   29883.333333
1                                            NaN
2                                            NaN
3                                            NaN
4                                   23510.810811
...                                          ...
75913                                        NaN
75914                                        NaN
75915                                        NaN
75916                               30621.739130
75917                                        NaN

       Asian, Asian British or Asian Welsh: Bangladeshi\n(percent)  \
0                                                    0.2
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                   15.9
...                                                  ...
75913                                                NaN
75914                                                NaN
75915                                                NaN
75916                                                0.0
75917                                                NaN

       Asian, Asian British or Asian Welsh: Chinese\n(percent)  ...  \
0                                                    1.4        ...
1                                                    NaN        ...
2                                                    NaN        ...
3                                                    NaN        ...
4                                                    1.8        ...
...                                                  ...        ...
75913                                                NaN        ...
75914                                                NaN        ...
75915                                                NaN        ...
75916                                                0.2        ...
75917                                                NaN        ...

       DonationType_Visit  IsAggregation_False  IsAggregation_True  \
0                     0.0                  1.0                 0.0
1                     0.0                  1.0                 0.0
2                     0.0                  1.0                 0.0
3                     0.0                  1.0                 0.0
4                     0.0                  0.0                 1.0
...                   ...                  ...                 ...
75913                 0.0                  1.0                 0.0
75914                 0.0                  1.0                 0.0
75915                 0.0                  1.0                 0.0
75916                 0.0                  1.0                 0.0
75917                 0.0                  1.0                 0.0

       gender_andy  gender_female  gender_male  gender_mostly_female  \
0              0.0            0.0          0.0                   0.0
1              0.0            0.0          1.0                   0.0
2              0.0            0.0          1.0                   0.0
3              0.0            0.0          1.0                   0.0
4              0.0            0.0          0.0                   0.0
...            ...            ...          ...                   ...
75913          0.0            0.0          0.0                   0.0
75914          0.0            0.0          1.0                   0.0
75915          0.0            0.0          1.0                   0.0
75916          0.0            0.0          0.0                   0.0
75917          0.0            0.0          1.0                   0.0

       gender_mostly_male  gender_not_a_person  gender_unknown
0                     0.0                  1.0             0.0
1                     0.0                  0.0             0.0
2                     0.0                  0.0             0.0
3                     0.0                  0.0             0.0
4                     0.0                  1.0             0.0
...                   ...                  ...             ...
75913                 0.0                  0.0             1.0
75914                 0.0                  0.0             0.0
75915                 0.0                  0.0             0.0
75916                 0.0                  1.0             0.0
75917                 0.0                  0.0             0.0

[75918 rows x 57 columns]

In [71]:
preprocessed_dir_path = os.path.join(os.getcwd(), "Preprocessed_Data")
if os.path.exists(preprocessed_dir_path) != True:
    os.mkdir(preprocessed_dir_path)

out_path = os.path.join(preprocessed_dir_path, "encoded_2_for_ML.csv")

df_encoded.to_csv(out_path)