# Main dataset preprocessing and merging with supplementary data

In [18]:
import numpy
import pandas
import os
from os import path
import gender_guesser.detector as gender

### load up donation dataset

In [19]:
#data source: https://search.electoralcommission.org.uk/Search/Donations?currentPage=1&rows=10&sort=AcceptedDate&order=desc&tab=1&et=pp&et=ppm&et=tp&et=perpar&et=rd&isIrishSourceYes=true&isIrishSourceNo=true&prePoll=false&postPoll=true&register=gb&register=ni&register=none&optCols=Register&optCols=CampaigningName&optCols=AccountingUnitsAsCentralParty&optCols=IsSponsorship&optCols=IsIrishSource&optCols=RegulatedDoneeType&optCols=CompanyRegistrationNumber&optCols=Postcode&optCols=NatureOfDonation&optCols=PurposeOfVisit&optCols=DonationAction&optCols=ReportedDate&optCols=IsReportedPrePoll&optCols=ReportingPeriodName&optCols=IsBequest&optCols=IsAggregation
df = pandas.read_csv("results.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84470 entries, 0 to 84469
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ECRef                          84470 non-null  object
 1   RegulatedEntityName            84470 non-null  object
 2   RegulatedEntityType            84470 non-null  object
 3   Value                          84470 non-null  object
 4   AcceptedDate                   82941 non-null  object
 5   AccountingUnitName             73574 non-null  object
 6   DonorName                      84344 non-null  object
 7   AccountingUnitsAsCentralParty  84470 non-null  bool
 8   IsSponsorship                  84470 non-null  bool
 9   DonorStatus                    84372 non-null  object
 10  RegulatedDoneeType             9510 non-null   object
 11  CompanyRegistrationNumber      15200 non-null  object
 12  Postcode                       45585 non-null  object
 13  DonationType                   84470 non-null  object
 14  NatureOfDonation               13641 non-null  object
 15  PurposeOfVisit                 3238 non-null   object
 16  DonationAction                 365 non-null    object
 17  ReceivedDate                   81063 non-null  object
 18  ReportedDate                   84449 non-null  object
 19  IsReportedPrePoll              48929 non-null  object
 20  ReportingPeriodName            84470 non-null  object
 21  IsBequest                      84470 non-null  bool
 22  IsAggregation                  84470 non-null  bool
 23  RegulatedEntityId              84470 non-null  int64
 24  AccountingUnitId               45831 non-null  float64
 25  DonorId                        84348 non-null  float64
 26  CampaigningName                5 non-null      object
 27  RegisterName                   83084 non-null  object
 28  IsIrishSource                  83625 non-null  object
dtypes: bool(4), float64(2), int64(1), object(22)
memory usage: 16.4+ MB

C:\Users\marti\AppData\Local\Temp\ipykernel_9460\3579998734.py:2: DtypeWarning: Columns (16,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv("results.csv")

In [20]:
print(df["RegulatedEntityType"].unique())
print()
print(df.columns)
print(len(df.columns))

['Regulated Donee' 'Third Party' 'Political Party' 'Permitted Participant']

Index(['ECRef', 'RegulatedEntityName', 'RegulatedEntityType', 'Value',
       'AcceptedDate', 'AccountingUnitName', 'DonorName',
       'AccountingUnitsAsCentralParty', 'IsSponsorship', 'DonorStatus',
       'RegulatedDoneeType', 'CompanyRegistrationNumber', 'Postcode',
       'DonationType', 'NatureOfDonation', 'PurposeOfVisit', 'DonationAction',
       'ReceivedDate', 'ReportedDate', 'IsReportedPrePoll',
       'ReportingPeriodName', 'IsBequest', 'IsAggregation',
       'RegulatedEntityId', 'AccountingUnitId', 'DonorId', 'CampaigningName',
       'RegisterName', 'IsIrishSource'],
      dtype='object')
29

In [21]:
df.head(15)

,ECRef,RegulatedEntityName,RegulatedEntityType,Value,AcceptedDate,AccountingUnitName,DonorName,AccountingUnitsAsCentralParty,IsSponsorship,DonorStatus,...,IsReportedPrePoll,ReportingPeriodName,IsBequest,IsAggregation,RegulatedEntityId,AccountingUnitId,DonorId,CampaigningName,RegisterName,IsIrishSource
0,C0583991,Labour Campaign For Electoral Reform,Regulated Donee,"£20,000.00",08/07/2024,NaN,Joseph Rowntree Reform Trust,False,False,Company,...,NaN,August 2024,False,False,17630,NaN,99201.0,NaN,Great Britain,False
1,C0579011,Labour Together,Regulated Donee,"£175,500.00",08/07/2024,NaN,Lord David Sainsbury,False,False,Individual,...,NaN,July 2024,False,False,3912,NaN,99815.0,NaN,Great Britain,False
2,C0579009,Labour Together,Regulated Donee,"£12,500.00",24/06/2024,NaN,Mr Trevor Chinn,False,False,Individual,...,NaN,July 2024,False,False,3912,NaN,83243.0,NaN,Great Britain,False
3,C0579010,Labour Together,Regulated Donee,"£325,000.00",21/06/2024,NaN,Martin Taylor,False,False,Individual,...,NaN,July 2024,False,False,3912,NaN,72372.0,NaN,Great Britain,False
4,C0579007,The Spring Lunch,Regulated Donee,"£6,000.00",21/06/2024,NaN,FT Estates Ltd,False,False,Company,...,NaN,July 2024,False,True,1621,NaN,100697.0,NaN,Great Britain,False
5,C0578696,Wes Streeting,Regulated Donee,"£1,500.00",01/06/2024,NaN,Sir Trevor Chinn,False,False,Individual,...,NaN,June 2024,False,True,6346,NaN,93638.0,NaN,Great Britain,False
6,C0578678,The Rt Hon Dr Liam Fox MP,Regulated Donee,"£10,000.00",28/05/2024,NaN,Partners & Limited,False,False,Company,...,NaN,June 2024,False,False,1035,NaN,95230.0,NaN,Great Britain,False
7,NC0578606,Andy Burnham,Regulated Donee,"£26,750.00",24/05/2024,NaN,B & Combes LLP,False,False,Limited Liability Partnership,...,NaN,June 2024,False,False,1469,NaN,100595.0,NaN,Great Britain,False
8,C0579008,Northern Campaign Group,Regulated Donee,"£60,000.00",24/05/2024,NaN,Cohiba Support Services Ltd,False,False,Company,...,NaN,July 2024,False,False,17447,NaN,100698.0,NaN,Great Britain,False
9,C0578682,Simon Clarke,Regulated Donee,"£5,000.00",24/05/2024,NaN,John Hall,False,False,Individual,...,NaN,June 2024,False,False,6668,NaN,98913.0,NaN,Great Britain,False
10,C0578668,Johnny Mercer MP,Regulated Donee,"£5,000.00",24/05/2024,NaN,The Carlton Club,False,False,Company,...,NaN,June 2024,False,False,2598,NaN,100614.0,NaN,Great Britain,False
11,C0578681,Simon Clarke,Regulated Donee,"£10,000.00",24/05/2024,NaN,Gary Lydiate,False,False,Individual,...,NaN,June 2024,False,False,6668,NaN,93121.0,NaN,Great Britain,False
12,C0578667,Johnny Mercer MP,Regulated Donee,"£2,900.00",24/05/2024,NaN,Andrew Law,False,False,Individual,...,NaN,June 2024,False,False,2598,NaN,100613.0,NaN,Great Britain,False
13,C0578680,Simon Clarke,Regulated Donee,"£5,000.00",24/05/2024,NaN,David Franks,False,False,Individual,...,NaN,June 2024,False,False,6668,NaN,100623.0,NaN,Great Britain,False
14,C0578665,Mr John Stevenson MP,Regulated Donee,"£20,000.00",24/05/2024,NaN,Northern Campaign Group,False,False,Unincorporated Association,...,NaN,June 2024,False,False,2740,NaN,100612.0,NaN,Great Britain,False

In [22]:
#print(df.loc[df["DonorStatus"] == "Individual"].head(15))

In [33]:
print(df["Value"].info())
value_wip = df.copy()
# print(value_wip.head())
print()

value_wip["Value"] = value_wip["Value"].apply(lambda x: x.replace("£", ""))
value_wip["Value"] = value_wip["Value"].apply(lambda x: x.replace(",", ""))
value_wip["Value"] = value_wip["Value"].astype('float')
print(value_wip.head(5))

#split off data for individuals
individuals_df = df.loc[df["DonorStatus"] == "Individual"].copy()
print("unprocessed: ")
print(individuals_df["DonorName"].head())



titles_list = ["Master", "Mr", "Sir", "Gentleman", "Sire", "Lord", "Esq", "Miss", "Mrs", "Ms", "Mistress", "Madam", "Ma'am", "Dame", "Lady", "Mx", "Excellency", "Dr", "Professor"]

for i in titles_list:
    # individuals_df["DonorName"] = individuals_df["DonorName"].replace(i, "")
    individuals_df["DonorName"] = individuals_df["DonorName"].apply(lambda x: str(x).replace(i, ""))

individuals_df["FirstNames"] = individuals_df["DonorName"].apply(lambda x: str(x).split()[0]) 

# print()
# print("processed: ")
# print(individuals_df["DonorName"].head())
# print()
# print("first names: ")
# print(individuals_df["FirstNames"].head())

#initialize gender guesser
d = gender.Detector()

# Gender guesser setup adapted from Rahul Lalchandani's Genderizer code, source: https://medium.com/analytics-vidhya/how-to-find-gender-from-a-dataframe-of-names-43ec98377290
# Gender guesser source: https://pypi.org/project/gender-guesser/
def gender_guess(name):
    #print(name)
    return d.get_gender(u"{x}".format(x=name), u'great_britain')

# df['gender'] = individuals_df["FirstNames"].apply(lambda x: gender_guess(x))
individuals_df['gender'] = individuals_df["FirstNames"].apply(lambda x: gender_guess(x))

individuals_df["Value"] = individuals_df["Value"].apply(lambda x: x.replace("£", ""))
individuals_df["Value"] = individuals_df["Value"].apply(lambda x: x.replace(",", ""))
individuals_df["Value"] = individuals_df["Value"].astype('float')

print(individuals_df.head(25))
print(individuals_df.info())

<class 'pandas.core.series.Series'>
RangeIndex: 84470 entries, 0 to 84469
Series name: Value
Non-Null Count  Dtype
--------------  -----
84470 non-null  object
dtypes: object(1)
memory usage: 660.0+ KB
None

      ECRef                   RegulatedEntityName RegulatedEntityType  \
0  C0583991  Labour Campaign For Electoral Reform     Regulated Donee
1  C0579011                       Labour Together     Regulated Donee
2  C0579009                       Labour Together     Regulated Donee
3  C0579010                       Labour Together     Regulated Donee
4  C0579007                      The Spring Lunch     Regulated Donee

      Value AcceptedDate AccountingUnitName                     DonorName  \
0   20000.0   08/07/2024                NaN  Joseph Rowntree Reform Trust
1  175500.0   08/07/2024                NaN          Lord David Sainsbury
2   12500.0   24/06/2024                NaN               Mr Trevor Chinn
3  325000.0   21/06/2024                NaN                 Martin Taylor
4    6000.0   21/06/2024                NaN                FT Estates Ltd

   AccountingUnitsAsCentralParty  IsSponsorship DonorStatus  ...  \
0                          False          False     Company  ...
1                          False          False  Individual  ...
2                          False          False  Individual  ...
3                          False          False  Individual  ...
4                          False          False     Company  ...

  ReportingPeriodName IsBequest IsAggregation RegulatedEntityId  \
0         August 2024     False         False             17630
1           July 2024     False         False              3912
2           July 2024     False         False              3912
3           July 2024     False         False              3912
4           July 2024     False          True              1621

  AccountingUnitId   DonorId CampaigningName   RegisterName IsIrishSource  \
0              NaN   99201.0             NaN  Great Britain         False
1              NaN   99815.0             NaN  Great Britain         False
2              NaN   83243.0             NaN  Great Britain         False
3              NaN   72372.0             NaN  Great Britain         False
4              NaN  100697.0             NaN  Great Britain         False

  gender
0    NaN
1   male
2   male
3   male
4    NaN

[5 rows x 30 columns]
unprocessed:
1    Lord David Sainsbury
2         Mr Trevor Chinn
3           Martin Taylor
5        Sir Trevor Chinn
9               John Hall
Name: DonorName, dtype: object
        ECRef               RegulatedEntityName RegulatedEntityType     Value  \
1    C0579011                   Labour Together     Regulated Donee  175500.0
2    C0579009                   Labour Together     Regulated Donee   12500.0
3    C0579010                   Labour Together     Regulated Donee  325000.0
5    C0578696                     Wes Streeting     Regulated Donee    1500.0
9    C0578682                      Simon Clarke     Regulated Donee    5000.0
11   C0578681                      Simon Clarke     Regulated Donee   10000.0
12   C0578667                  Johnny Mercer MP     Regulated Donee    2900.0
13   C0578680                      Simon Clarke     Regulated Donee    5000.0
17   C0578657         The Rt Hon David Lammy MP     Regulated Donee    7500.0
18  NC0578605                      Andy Burnham     Regulated Donee    5000.0
20  NC0579005                  The Spring Lunch     Regulated Donee   15000.0
21   C0578671                     Peter Kyle MP     Regulated Donee    5000.0
27   C0578679                      Simon Clarke     Regulated Donee    2500.0
28   C0578659       The Rt Hon David Mundell MP     Regulated Donee    5000.0
31   C0578676         The Rt Hon Dr Liam Fox MP     Regulated Donee   10000.0
36   C0578692             New Conservatives Ltd     Regulated Donee   12500.0
38   C0578603                       Alan Mak MP     Regulated Donee   10000.0
40   C0576279  Carlton Club Political Committee     Regulated Donee   17000.0
41   C0578662        The Rt Hon Grant Shapps MP     Regulated Donee    3000.0
53   C0576312                     Simon Hart MP     Regulated Donee   20000.0
54  NC0576321                     Wes Streeting     Regulated Donee   13000.0
55  NC0576320                     Wes Streeting     Regulated Donee   15000.0
57   C0578652                    Mr Bim Afolami     Regulated Donee    5000.0
58   C0576264                       Alan Mak MP     Regulated Donee   20000.0
60   C0576335                     Labour To Win     Regulated Donee   25000.0

   AcceptedDate AccountingUnitName           DonorName  \
1    08/07/2024                NaN     David Sainsbury
2    24/06/2024                NaN        Trevor Chinn
3    21/06/2024                NaN       Martin Taylor
5    01/06/2024                NaN        Trevor Chinn
9    24/05/2024                NaN           John Hall
11   24/05/2024                NaN        Gary Lydiate
12   24/05/2024                NaN          Andrew Law
13   24/05/2024                NaN        David Franks
17   21/05/2024                NaN       Richard Greer
18   20/05/2024                NaN       Oliver Holmes
20   15/05/2024                NaN        David Yarrow
21   15/05/2024                NaN      Michael Morley
27   09/05/2024                NaN   Mark Antonopoulos
28   09/05/2024                NaN       James Stewart
31   07/05/2024                NaN        James Thomas
36   03/05/2024                NaN     Phillip Ullmann
38   02/05/2024                NaN      Graham Edwards
40   01/05/2024                NaN    Christopher Wood
41   01/05/2024                NaN          Roger Moss
53   18/04/2024                NaN          Chris Wood
54   17/04/2024                NaN         Kevin Craig
55   17/04/2024                NaN         Ruth iscoll
57   17/04/2024                NaN         Arnold Ekpe
58   16/04/2024                NaN             Yan Huo
60   15/04/2024                NaN         Gary Lubner

    AccountingUnitsAsCentralParty  IsSponsorship DonorStatus  ... IsBequest  \
1                           False          False  Individual  ...     False
2                           False          False  Individual  ...     False
3                           False          False  Individual  ...     False
5                           False          False  Individual  ...     False
9                           False          False  Individual  ...     False
11                          False          False  Individual  ...     False
12                          False          False  Individual  ...     False
13                          False          False  Individual  ...     False
17                          False          False  Individual  ...     False
18                          False          False  Individual  ...     False
20                          False          False  Individual  ...     False
21                          False          False  Individual  ...     False
27                          False          False  Individual  ...     False
28                          False          False  Individual  ...     False
31                          False          False  Individual  ...     False
36                          False          False  Individual  ...     False
38                          False          False  Individual  ...     False
40                          False          False  Individual  ...     False
41                          False          False  Individual  ...     False
53                          False          False  Individual  ...     False
54                          False          False  Individual  ...     False
55                          False          False  Individual  ...     False
57                          False          False  Individual  ...     False
58                          False          False  Individual  ...     False
60                          False          False  Individual  ...     False

   IsAggregation RegulatedEntityId AccountingUnitId   DonorId CampaigningName  \
1          False              3912              NaN   99815.0             NaN
2          False              3912              NaN   83243.0             NaN
3          False              3912              NaN   72372.0             NaN
5           True              6346              NaN   93638.0             NaN
9          False              6668              NaN   98913.0             NaN
11         False              6668              NaN   93121.0             NaN
12         False              2598              NaN  100613.0             NaN
13         False              6668              NaN  100623.0             NaN
17         False              1079              NaN   69914.0             NaN
18         False              1469              NaN  100594.0             NaN
20         False              1621              NaN  100696.0             NaN
21         False              3931              NaN  100617.0             NaN
27         False              6668              NaN   98875.0             NaN
28         False              1491              NaN   74903.0             NaN
31         False              1035              NaN  100621.0             NaN
36         False             17512              NaN   98890.0             NaN
38         False              2859              NaN  100592.0             NaN
40         False              6901              NaN   99782.0             NaN
41         False              1593              NaN  100610.0             NaN
53         False              4095              NaN   99803.0             NaN
54         False              6346              NaN   99809.0             NaN
55         False              6346              NaN   99808.0             NaN
57         False              9144              NaN  100608.0             NaN
58         False              2859              NaN   95224.0             NaN
60         False             17376              NaN   97767.0             NaN

     RegisterName IsIrishSource       gender   FirstNames
1   Great Britain         False         male        David
2   Great Britain         False         male       Trevor
3   Great Britain         False         male       Martin
5   Great Britain         False         male       Trevor
9   Great Britain         False         male         John
11  Great Britain         False         male         Gary
12  Great Britain         False         male       Andrew
13  Great Britain         False         male        David
17  Great Britain         False         male      Richard
18  Great Britain         False         male       Oliver
20  Great Britain         False         male        David
21  Great Britain         False         male      Michael
27  Great Britain         False         male         Mark
28  Great Britain         False         male        James
31  Great Britain         False         male        James
36  Great Britain         False         male      Phillip
38  Great Britain         False         male       Graham
40  Great Britain         False         male  Christopher
41  Great Britain         False         male        Roger
53  Great Britain         False  mostly_male        Chris
54  Great Britain         False         male        Kevin
55  Great Britain         False       female         Ruth
57  Great Britain         False         male       Arnold
58  Great Britain         False         andy          Yan
60  Great Britain         False         male         Gary

[25 rows x 31 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 37858 entries, 1 to 84469
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ECRef                          37858 non-null  object
 1   RegulatedEntityName            37858 non-null  object
 2   RegulatedEntityType            37858 non-null  object
 3   Value                          37858 non-null  float64
 4   AcceptedDate                   37160 non-null  object
 5   AccountingUnitName             34166 non-null  object
 6   DonorName                      37858 non-null  object
 7   AccountingUnitsAsCentralParty  37858 non-null  bool
 8   IsSponsorship                  37858 non-null  bool
 9   DonorStatus                    37858 non-null  object
 10  RegulatedDoneeType             2874 non-null   object
 11  CompanyRegistrationNumber      2 non-null      object
 12  Postcode                       0 non-null      object
 13  DonationType                   37858 non-null  object
 14  NatureOfDonation               3426 non-null   object
 15  PurposeOfVisit                 56 non-null     object
 16  DonationAction                 8 non-null      object
 17  ReceivedDate                   37769 non-null  object
 18  ReportedDate                   37852 non-null  object
 19  IsReportedPrePoll              21681 non-null  object
 20  ReportingPeriodName            37858 non-null  object
 21  IsBequest                      37858 non-null  bool
 22  IsAggregation                  37858 non-null  bool
 23  RegulatedEntityId              37858 non-null  int64
 24  AccountingUnitId               20415 non-null  float64
 25  DonorId                        37858 non-null  float64
 26  CampaigningName                3 non-null      object
 27  RegisterName                   37040 non-null  object
 28  IsIrishSource                  37858 non-null  object
 29  gender                         37858 non-null  object
 30  FirstNames                     37858 non-null  object
dtypes: bool(4), float64(3), int64(1), object(23)
memory usage: 8.2+ MB
None

In [34]:
individual_rdy = individuals_df.iloc[:, [1, 2, 3, 29]]
print(individual_rdy.info())
print(individual_rdy.head())

<class 'pandas.core.frame.DataFrame'>
Index: 37858 entries, 1 to 84469
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RegulatedEntityName  37858 non-null  object
 1   RegulatedEntityType  37858 non-null  object
 2   Value                37858 non-null  float64
 3   gender               37858 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.4+ MB
None
  RegulatedEntityName RegulatedEntityType     Value gender
1     Labour Together     Regulated Donee  175500.0   male
2     Labour Together     Regulated Donee   12500.0   male
3     Labour Together     Regulated Donee  325000.0   male
5       Wes Streeting     Regulated Donee    1500.0   male
9        Simon Clarke     Regulated Donee    5000.0   male

In [35]:
individual_rdy.to_csv("individual_gendered.csv")

In [36]:
organizations_df = value_wip.loc[df["DonorStatus"] != "Individual"].copy()
# print(organizations_df.head(25))
# print(organizations_df.info())
# print()

df_orgs_merge = organizations_df.iloc[:, [3, 9, 12]]
print(df_orgs_merge.head(10))
print()

supp_df = pandas.read_csv("supplementary_materials.csv")
supp_df = supp_df.rename(columns={"pcds": "Postcode"})
print(supp_df.head(10))
print(supp_df.info())

      Value                    DonorStatus  Postcode
0   20000.0                        Company  YO30 6WQ
4    6000.0                        Company   E15 2JA
6   10000.0                        Company  HP13 6NU
7   26750.0  Limited Liability Partnership   SK9 5EQ
8   60000.0                        Company  BB12 7TW
10   5000.0                        Company  SW1A 1PJ
14  20000.0     Unincorporated Association  OL13 9AA
15   3200.0                        Company    M3 4AP
16  16000.0                        Company   M40 5BJ
19   6179.0                          Other      0000

   Unnamed: 0     pcd7      pcd8 Postcode  Area code      ladnm  Average_age  \
0           0  AL2 1BB  AL2  1BB  AL2 1BB  E07000098  Hertsmere    40.680154
1           1  AL2 1BT  AL2  1BT  AL2 1BT  E07000098  Hertsmere    40.680154
2           2  AL2 1BU  AL2  1BU  AL2 1BU  E07000098  Hertsmere    40.680154
3           3  AL2 1BX  AL2  1BX  AL2 1BX  E07000098  Hertsmere    40.680154
4           4  AL2 1BY  AL2  1BY  AL2 1BY  E07000098  Hertsmere    40.680154
5           5  AL2 1BZ  AL2  1BZ  AL2 1BZ  E07000098  Hertsmere    40.680154
6           6  AL2 1DA  AL2  1DA  AL2 1DA  E07000098  Hertsmere    40.680154
7           7  AL2 1DE  AL2  1DE  AL2 1DE  E07000098  Hertsmere    40.680154
8           8  AL2 1DF  AL2  1DF  AL2 1DF  E07000098  Hertsmere    40.680154
9           9  AL2 1DR  AL2  1DR  AL2 1DR  E07000098  Hertsmere    40.680154

   Qualification index score  Net annual income after housing costs (£)  \
0                       2.59                               33438.461538
1                       2.59                               33438.461538
2                       2.59                               33438.461538
3                       2.59                               33438.461538
4                       2.59                               33438.461538
5                       2.59                               33438.461538
6                       2.59                               33438.461538
7                       2.59                               33438.461538
8                       2.59                               33438.461538
9                       2.59                               33438.461538

   Asian, Asian British or Asian Welsh: Bangladeshi\n(percent)  ...  \
0                                                0.4            ...
1                                                0.4            ...
2                                                0.4            ...
3                                                0.4            ...
4                                                0.4            ...
5                                                0.4            ...
6                                                0.4            ...
7                                                0.4            ...
8                                                0.4            ...
9                                                0.4            ...

   Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0                                                0.5
1                                                0.5
2                                                0.5
3                                                0.5
4                                                0.5
5                                                0.5
6                                                0.5
7                                                0.5
8                                                0.5
9                                                0.5

   Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                0.9
1                                                0.9
2                                                0.9
3                                                0.9
4                                                0.9
5                                                0.9
6                                                0.9
7                                                0.9
8                                                0.9
9                                                0.9

   Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                1.2
1                                                1.2
2                                                1.2
3                                                1.2
4                                                1.2
5                                                1.2
6                                                1.2
7                                                1.2
8                                                1.2
9                                                1.2

   White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                               63.1
1                                               63.1
2                                               63.1
3                                               63.1
4                                               63.1
5                                               63.1
6                                               63.1
7                                               63.1
8                                               63.1
9                                               63.1

   White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
0                      2.0                                         0.2
1                      2.0                                         0.2
2                      2.0                                         0.2
3                      2.0                                         0.2
4                      2.0                                         0.2
5                      2.0                                         0.2
6                      2.0                                         0.2
7                      2.0                                         0.2
8                      2.0                                         0.2
9                      2.0                                         0.2

   White: Roma\n(percent)  White: Other White\n(percent)  \
0                     0.3                           11.6
1                     0.3                           11.6
2                     0.3                           11.6
3                     0.3                           11.6
4                     0.3                           11.6
5                     0.3                           11.6
6                     0.3                           11.6
7                     0.3                           11.6
8                     0.3                           11.6
9                     0.3                           11.6

   Other ethnic group: Arab\n(percent)  \
0                                  0.3
1                                  0.3
2                                  0.3
3                                  0.3
4                                  0.3
5                                  0.3
6                                  0.3
7                                  0.3
8                                  0.3
9                                  0.3

   Other ethnic group: Any other ethnic group\n(percent)
0                                                3.5
1                                                3.5
2                                                3.5
3                                                3.5
4                                                3.5
5                                                3.5
6                                                3.5
7                                                3.5
8                                                3.5
9                                                3.5

[10 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2165695 entries, 0 to 2165694
Data columns (total 28 columns):
 #   Column                                                                            Dtype
---  ------                                                                            -----
 0   Unnamed: 0                                                                        int64
 1   pcd7                                                                              object
 2   pcd8                                                                              object
 3   Postcode                                                                          object
 4   Area code                                                                         object
 5   ladnm                                                                             object
 6   Average_age                                                                       float64
 7   Qualification index score                                                         float64
 8   Net annual income after housing costs (£)                                         float64
 9   Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        float64
 10  Asian, Asian British or Asian Welsh: Chinese
(percent)                            float64
 11  Asian, Asian British or Asian Welsh: Indian
(percent)                             float64
 12  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          float64
 13  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        float64
 14  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        float64
 15  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      float64
 16  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    float64
 17  Mixed or Multiple ethnic groups: White and Asian
(percent)                        float64
 18  Mixed or Multiple ethnic groups: White and Black African
(percent)               float64
 19  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              float64
 20  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  float64
 21  White: English, Welsh, Scottish, Northern Irish or British
(percent)              float64
 22  White: Irish
(percent)                                                            float64
 23  White: Gypsy or Irish Traveller
(percent)                                         float64
 24  White: Roma
(percent)                                                             float64
 25  White: Other White
(percent)                                                      float64
 26  Other ethnic group: Arab
(percent)                                                float64
 27  Other ethnic group: Any other ethnic group
(percent)                              float64
dtypes: float64(22), int64(1), object(5)
memory usage: 462.6+ MB
None

In [39]:
merged_df = df_orgs_merge.merge(supp_df, how='inner', on="Postcode")
print(merged_df.info())
print(merged_df.head())
export_df = merged_df.copy()
export_df = export_df.drop(["Postcode", "pcd7", "pcd8", "Area code", "Unnamed: 0"], axis=1)
print()
print(export_df.info())
print(export_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38064 entries, 0 to 38063
Data columns (total 30 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Value                                                                             38064 non-null  float64
 1   DonorStatus                                                                       38064 non-null  object
 2   Postcode                                                                          38064 non-null  object
 3   Unnamed: 0                                                                        38064 non-null  int64
 4   pcd7                                                                              38064 non-null  object
 5   pcd8                                                                              38064 non-null  object
 6   Area code                                                                         38064 non-null  object
 7   ladnm                                                                             38064 non-null  object
 8   Average_age                                                                       38064 non-null  float64
 9   Qualification index score                                                         38064 non-null  float64
 10  Net annual income after housing costs (£)                                         38064 non-null  float64
 11  Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        38064 non-null  float64
 12  Asian, Asian British or Asian Welsh: Chinese
(percent)                            38064 non-null  float64
 13  Asian, Asian British or Asian Welsh: Indian
(percent)                             38064 non-null  float64
 14  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          38064 non-null  float64
 15  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        38064 non-null  float64
 16  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        38064 non-null  float64
 17  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      38064 non-null  float64
 18  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    38064 non-null  float64
 19  Mixed or Multiple ethnic groups: White and Asian
(percent)                        38064 non-null  float64
 20  Mixed or Multiple ethnic groups: White and Black African
(percent)               38064 non-null  float64
 21  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              38064 non-null  float64
 22  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  38064 non-null  float64
 23  White: English, Welsh, Scottish, Northern Irish or British
(percent)              38064 non-null  float64
 24  White: Irish
(percent)                                                            38064 non-null  float64
 25  White: Gypsy or Irish Traveller
(percent)                                         38064 non-null  float64
 26  White: Roma
(percent)                                                             38064 non-null  float64
 27  White: Other White
(percent)                                                      38064 non-null  float64
 28  Other ethnic group: Arab
(percent)                                                38064 non-null  float64
 29  Other ethnic group: Any other ethnic group
(percent)                              38064 non-null  float64
dtypes: float64(23), int64(1), object(6)
memory usage: 8.7+ MB
None
     Value                    DonorStatus  Postcode  Unnamed: 0     pcd7  \
0  20000.0                        Company  YO30 6WQ     2160232  YO306WQ
1   6000.0                        Company   E15 2JA      550527  E15 2JA
2  26750.0  Limited Liability Partnership   SK9 5EQ     1663521  SK9 5EQ
3  60000.0                        Company  BB12 7TW       79281  BB127TW
4   5000.0                        Company  SW1A 1PJ     1821618  SW1A1PJ

       pcd8  Area code          ladnm  Average_age  Qualification index score  \
0  YO30 6WQ  E06000014           York    40.661544                       2.72
1  E15  2JA  E09000025         Newham    33.393116                       2.48
2  SK9  5EQ  E06000049  Cheshire East    43.509145                       2.61
3  BB12 7TW  E07000124  Ribble Valley    45.234531                       2.71
4  SW1A 1PJ  E09000033    Westminster    38.398510                       3.03

   ...  Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0  ...                                                0.2
1  ...                                                0.9
2  ...                                                0.2
3  ...                                                0.2
4  ...                                                1.0

   Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                0.3
1                                                1.2
2                                                0.5
3                                                0.2
4                                                1.0

   Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                0.5
1                                                1.6
2                                                0.4
3                                                0.3
4                                                2.7

   White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                               87.3
1                                               14.8
2                                               89.6
3                                               94.1
4                                               28.0

   White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
0                      0.6                                         0.2
1                      0.6                                         0.1
2                      0.6                                         0.1
3                      0.6                                         0.0
4                      1.8                                         0.0

   White: Roma\n(percent)  White: Other White\n(percent)  \
0                     0.1                            4.6
1                     0.7                           14.6
2                     0.1                            4.0
3                     0.0                            1.6
4                     0.7                           24.6

   Other ethnic group: Arab\n(percent)  \
0                                  0.3
1                                  1.0
2                                  0.2
3                                  0.1
4                                  7.6

   Other ethnic group: Any other ethnic group\n(percent)
0                                                0.7
1                                                3.9
2                                                0.6
3                                                0.2
4                                                5.9

[5 rows x 30 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38064 entries, 0 to 38063
Data columns (total 25 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Value                                                                             38064 non-null  float64
 1   DonorStatus                                                                       38064 non-null  object
 2   ladnm                                                                             38064 non-null  object
 3   Average_age                                                                       38064 non-null  float64
 4   Qualification index score                                                         38064 non-null  float64
 5   Net annual income after housing costs (£)                                         38064 non-null  float64
 6   Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        38064 non-null  float64
 7   Asian, Asian British or Asian Welsh: Chinese
(percent)                            38064 non-null  float64
 8   Asian, Asian British or Asian Welsh: Indian
(percent)                             38064 non-null  float64
 9   Asian, Asian British or Asian Welsh: Pakistani
(percent)                          38064 non-null  float64
 10  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        38064 non-null  float64
 11  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        38064 non-null  float64
 12  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      38064 non-null  float64
 13  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    38064 non-null  float64
 14  Mixed or Multiple ethnic groups: White and Asian
(percent)                        38064 non-null  float64
 15  Mixed or Multiple ethnic groups: White and Black African
(percent)               38064 non-null  float64
 16  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              38064 non-null  float64
 17  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  38064 non-null  float64
 18  White: English, Welsh, Scottish, Northern Irish or British
(percent)              38064 non-null  float64
 19  White: Irish
(percent)                                                            38064 non-null  float64
 20  White: Gypsy or Irish Traveller
(percent)                                         38064 non-null  float64
 21  White: Roma
(percent)                                                             38064 non-null  float64
 22  White: Other White
(percent)                                                      38064 non-null  float64
 23  Other ethnic group: Arab
(percent)                                                38064 non-null  float64
 24  Other ethnic group: Any other ethnic group
(percent)                              38064 non-null  float64
dtypes: float64(23), object(2)
memory usage: 7.3+ MB
None
     Value                    DonorStatus          ladnm  Average_age  \
0  20000.0                        Company           York    40.661544
1   6000.0                        Company         Newham    33.393116
2  26750.0  Limited Liability Partnership  Cheshire East    43.509145
3  60000.0                        Company  Ribble Valley    45.234531
4   5000.0                        Company    Westminster    38.398510

   Qualification index score  Net annual income after housing costs (£)  \
0                       2.72                               29883.333333
1                       2.48                               23510.810811
2                       2.61                               32594.117647
3                       2.71                               31712.500000
4                       3.03                               39970.833333

   Asian, Asian British or Asian Welsh: Bangladeshi\n(percent)  \
0                                                0.2
1                                               15.9
2                                                0.2
3                                                0.0
4                                                3.7

   Asian, Asian British or Asian Welsh: Chinese\n(percent)  \
0                                                1.4
1                                                1.8
2                                                0.4
3                                                0.2
4                                                3.2

   Asian, Asian British or Asian Welsh: Indian\n(percent)  \
0                                                0.9
1                                               11.0
2                                                0.9
3                                                0.6
4                                                3.9

   Asian, Asian British or Asian Welsh: Pakistani\n(percent)  ...  \
0                                                0.3          ...
1                                                8.9          ...
2                                                0.4          ...
3                                                0.9          ...
4                                                1.2          ...

   Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0                                                0.2
1                                                0.9
2                                                0.2
3                                                0.2
4                                                1.0

   Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                0.3
1                                                1.2
2                                                0.5
3                                                0.2
4                                                1.0

   Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                0.5
1                                                1.6
2                                                0.4
3                                                0.3
4                                                2.7

   White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                               87.3
1                                               14.8
2                                               89.6
3                                               94.1
4                                               28.0

   White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
0                      0.6                                         0.2
1                      0.6                                         0.1
2                      0.6                                         0.1
3                      0.6                                         0.0
4                      1.8                                         0.0

   White: Roma\n(percent)  White: Other White\n(percent)  \
0                     0.1                            4.6
1                     0.7                           14.6
2                     0.1                            4.0
3                     0.0                            1.6
4                     0.7                           24.6

   Other ethnic group: Arab\n(percent)  \
0                                  0.3
1                                  1.0
2                                  0.2
3                                  0.1
4                                  7.6

   Other ethnic group: Any other ethnic group\n(percent)
0                                                0.7
1                                                3.9
2                                                0.6
3                                                0.2
4                                                5.9

[5 rows x 25 columns]

In [40]:
export_df.to_csv("localized_df.csv")