# preprocessing and combining of supplementary datasets

In [1]:
import numpy as np
import pandas as pd
import os
from os import path
import re

### postal code lookup

In [ ]:
#data source: https://geoportal.statistics.gov.uk/datasets/068ee476727d47a3a7a0d976d4343c59/about
df_postal = pd.read_csv("PCD_OA21_LSOA21_MSOA21_LAD_NOV24_UK_LU.csv", encoding='latin-1')
df_postal = df_postal.rename(columns={"ladcd": "Area code"})
print(df_postal.info())

df_postal_merge = df_postal[["pcd7","pcd8","pcds", "Area code", "ladnm"]]
print()
print(df_postal_merge.head(5))

C:\Users\marti\AppData\Local\Temp\ipykernel_22788\14513260.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_postal = pd.read_csv("PCD_OA21_LSOA21_MSOA21_LAD_NOV24_UK_LU.csv", encoding='latin-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2709658 entries, 0 to 2709657
Data columns (total 14 columns):
 #   Column     Dtype
---  ------     -----
 0   pcd7       object
 1   pcd8       object
 2   pcds       object
 3   dointr     int64
 4   doterm     float64
 5   usertype   int64
 6   oa21cd     object
 7   lsoa21cd   object
 8   msoa21cd   object
 9   Area code  object
 10  lsoa21nm   object
 11  msoa21nm   object
 12  ladnm      object
 13  ladnmw     object
dtypes: float64(1), int64(2), object(11)
memory usage: 289.4+ MB
None

      pcd7      pcd8     pcds  Area code          ladnm
0  AB1 0AA  AB1  0AA  AB1 0AA  S12000033  Aberdeen City
1  AB1 0AB  AB1  0AB  AB1 0AB  S12000033  Aberdeen City
2  AB1 0AD  AB1  0AD  AB1 0AD  S12000033  Aberdeen City
3  AB1 0AE  AB1  0AE  AB1 0AE  S12000034  Aberdeenshire
4  AB1 0AF  AB1  0AF  AB1 0AF  S12000033  Aberdeen City

In [3]:
#print(df_postal["ladnm"].nunique())

### age data

In [ ]:
#data source: https://www.ons.gov.uk/peoplepopulationandcommunity/personalandhouseholdfinances/incomeandwealth/datasets/householddisposableincomeandinequality

df_age = pd.read_csv("age_gender WIP.csv")
df_age = df_age.rename(columns={"Code": "Area code"})
# print(df_age.info())

df_age_clean = df_age.copy()
for column in df_age.columns[3:]:
    # print(column)
    df_age_clean[column] = df_age_clean[column].apply(lambda x:x.replace(",", "") if "," in str(x) else x)
    df_age_clean[column] = df_age_clean[column].astype('float')

#A small part following code is partially adapted from Saturn Cloud: https://saturncloud.io/blog/how-to-sum-values-of-a-row-of-a-pandas-dataframe-efficiently/
print(df_age_clean.shape)
avg_ages = []
for i in range(df_age_clean.shape[0]):
    i_row = df_age_clean.iloc[i, 4:]
    sums = []
    for j, k in enumerate(i_row):
        sums.append(j * k)

    average_age_i = sum(sums)/df_age_clean.iloc[i, 3]
    avg_ages.append(average_age_i)

print(avg_ages)
print(len(avg_ages))
print(len(avg_ages) == df_age_clean.shape[0])

df_age_clean["Average_age"] = avg_ages

df_age_merge = df_age_clean[["Area code", "Average_age"]]
print()
print(df_age_merge.head(5))

(357, 95)
[40.77242827825027, 40.685707965268286, 41.9177787694827, 42.659971588667034, 42.372442611385466, 41.500115345091544, 38.374883720930235, 45.64521869410344, 43.814815351824734, 41.11224958624608, 40.8925583500692, 41.88237361842733, 37.265180654922176, 42.557772856272635, 42.51300998191197, 42.10233830739563, 40.61870342675898, 37.32100975854428, 42.30758611990918, 43.50914517356919, 42.822366672966986, 44.326882792296914, 41.09275621783049, 41.996143868091096, 46.02820931954932, 38.354673504637574, 38.96085428082928, 40.45937608708998, 33.543025984752994, 37.943290131231464, 38.596262992043734, 36.199161580536845, 41.70099317297902, 40.17149480538297, 40.19207512211555, 41.269737656777934, 42.05543308648818, 39.79568621351169, 42.66767209598498, 47.51903489731174, 39.903798910528, 41.25672064248861, 39.69772977874875, 37.54859952305145, 45.23453132513301, 41.569910960148725, 43.16362547555305, 42.91992742516756, 46.47966562387815, 40.97403818031776, 39.747335832658266, 37.85045856989717, 44.04688677076518, 42.190545321590264, 43.04801263344538, 40.824112081871604, 46.04179721751747, 38.301729780614984, 42.35887832759655, 43.344729461981224, 45.419993340014564, 40.66154366960054, 40.410080649746426, 41.749509959790544, 41.32945864738236, 41.24650528217703, 38.92999762757042, 39.12525804889847, 37.660187363663304, 41.428222387237405, 40.0186682894716, 38.183298308562804, 41.13299574886812, 41.346226257271454, 38.80779103805449, 35.55694875980831, 40.66840221635855, 34.89811890329086, 45.36136604089265, 40.08991156880757, 43.65645283930352, 44.0452199923263, 42.442924579555466, 43.38733636528322, 48.07148049769327, 42.712325638593164, 44.15974838646267, 44.68754224782216, 41.16966242875932, 42.163419003698834, 41.93824920686183, 40.44767831498324, 43.41188914126398, 43.465225711055055, 44.619493960967, 41.9356485006708, 41.54145212418027, 43.968871038619945, 41.923942438381886, 48.20923705553377, 37.685763788063575, 44.24430088364149, 44.23988152989838, 43.97779195653069, 45.16858398038414, 42.6519608191414, 41.75773605484574, 43.3092668007785, 42.50160817163256, 43.00391353120282, 41.62037986992711, 43.5316799822459, 42.7676538505014, 40.45785036266243, 45.79682974353573, 45.623838304075804, 39.14570389539325, 39.99894745069432, 43.207896087014106, 41.78743266107859, 41.0353032427901, 44.13444310311964, 42.18712322348899, 45.352849108658745, 43.95257931289407, 46.194331053922845, 40.94828252121152, 42.03869069296546, 43.27798264969924, 40.792951797610925, 40.496451452673405, 45.40466007651713, 40.700919995037644, 37.87546227091088, 35.972324490651765, 36.86310306014383, 41.49265642218685, 37.59358770367514, 42.01952987527023, 39.13922406627508, 38.71615674038726, 43.66352809007058, 43.50133592904181, 46.87667131089438, 40.72036205332016, 40.68686455589055, 45.090369891873245, 44.90562986063359, 41.42793188393587, 39.84575888272746, 40.52344778820767, 35.37118877365514, 37.38704107804236, 41.349024255092694, 37.16613823715916, 40.9116218035859, 35.595813634029724, 42.568069009249335, 43.540347894955424, 42.264911375533416, 41.633667772233466, 41.96274049259237, 39.42995318666555, 42.190307395112434, 41.91269577234108, 44.562520866255646, 41.19912779714807, 39.95845135483609, 41.8469277440706, 37.71778425655977, 45.2619462291627, 43.64677733932054, 46.82592831920213, 42.57442784793897, 40.23445289442787, 40.1372023750025, 40.37703308052488, 41.38440977632325, 40.680153771343114, 41.76350334818136, 40.44933615676784, 39.00937368269252, 41.11387325356679, 37.42574019866596, 38.94303854651783, 44.33927611452632, 44.834940481524114, 45.466853538892785, 44.17038924698946, 45.30090910258221, 50.05110047661487, 37.79447218578071, 44.37739592922164, 43.89614163066913, 45.83518649866489, 46.7253095912586, 39.40443255033075, 45.086273130363146, 41.813455657492355, 37.10773311464143, 36.664232717527604, 37.98343485366216, 34.531737832438225, 36.66413501203163, 37.248574525951426, 35.82594385812207, 40.029492743794926, 36.19626171184583, 36.637204226200836, 33.393116021977534, 35.639574795812614, 32.33911802474545, 35.991075738559566, 38.39850974904022, 33.66966550911348, 38.398180285412664, 39.52435490107752, 36.884782059729304, 40.86607762967974, 38.145934163186595, 37.50669792721266, 38.01088174840958, 36.274462536508075, 38.74624214266193, 39.69694381771057, 37.29724341573203, 37.04547422101682, 38.8750806669248, 38.02582485747076, 36.546204114974216, 40.611887700562114, 39.155383354726865, 36.467450539894195, 41.46965428024467, 39.5012271038013, 39.20725798088236, 47.58683803386655, 39.118758716875874, 37.859657357427835, 38.14310237426116, 36.583537228669556, 34.704435857709086, 36.95721369723947, 42.05664546695477, 41.52886839003086, 40.1507151792027, 41.196317589386865, 45.5039965147511, 44.218332112990865, 42.55804529988879, 45.856042069537075, 48.72835276506926, 45.86498879461656, 43.13470007189063, 40.68286207005331, 44.455169729056365, 41.544313586378145, 45.33323113310849, 42.97938945196334, 42.27412302298556, 44.364204898076096, 47.85929714135851, 39.024536479185294, 42.87998006857007, 41.95765629719118, 41.66682337101483, 41.25233759753549, 41.957208685811466, 37.35779086819278, 44.18460085503959, 44.994801567638184, 39.401496236204835, 40.861445161710655, 42.81891276739621, 40.848703918713476, 43.63059406575097, 41.22510095705812, 41.8989318065288, 40.488712794742945, 40.582247581484, 35.77190890158853, 42.63224137032016, 41.41586627389189, 42.997519504571315, 41.295170961144194, 41.08158007117438, 40.600702533266656, 39.7650694481686, 44.88480275530782, 40.597615155303394, 39.695594966940135, 40.79422629239856, 42.47017403003211, 42.44814280441566, 42.93122001422669, 40.113278412783366, 43.57103085711241, 44.067648832068265, 46.66393862197038, 45.81004351460513, 37.631067236301796, 43.950402772573995, 42.18209163157395, 43.930140769779044, 43.13876425056945, 40.364301514378084, 42.64795198614033, 36.52813055126522, 45.112732655051495, 47.761047688593564, 46.13369223867205, 44.061176779141384, 40.556843891402714, 44.7315592494128, 40.68384211809417, 39.73830725158022, 46.06326845180485, 43.377295218532026, 45.15370742781447, 47.11465930702389, 38.31724188252463, 44.54522983315111, 45.43225286693256, 47.12115541269457, 46.37659220566993, 47.4006828417841, 47.75584641045716, 43.014321771155025, 41.50417030476903, 46.249010820854735, 45.04075013467409, 39.72145550444104, 44.31719126385097, 42.88637558647468, 42.353428323311434, 45.69902296113492, 43.43083584368943, 46.46294904291583, 44.421384165671704, 43.15218340050831, 42.15843671271915, 46.88676648889087, 44.56002737850787, 45.443322720509414, 44.44572107973885, 41.28754326381402, 42.46128707189744, 42.71108672986105, 42.856508798883716, 37.0399102039965, 41.464055593793795, 41.16657279879849, 41.99761954692043, 42.2934853613635, 42.0244811012749, 45.928763270312565, 39.44976409905395]
357
True

   Area code  Average_age
0  K04000001    40.772428
1  E92000001    40.685708
2  E12000001    41.917779
3  E06000047    42.659972
4  E06000005    42.372443

### education data

In [ ]:
#data source: https://www.ons.gov.uk/peoplepopulationandcommunity/educationandchildcare/bulletins/educationenglandandwales/census2021

df_edu = pd.read_csv("education IP.csv")
print(df_edu.info())

df_edu_merge = df_edu[["Area code", "Qualification index score"]]
print()
print(df_edu_merge.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 19 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Area code                                              332 non-null    object
 1   Area name                                              332 non-null    object
 2   Qualification index score                              332 non-null    float64
 3   Qualification index rank
(lowest = 1, highest = 331)  332 non-null    object
 4   Qualification index rank percentile                    332 non-null    object
 5   No qualifications (number)                             332 non-null    object
 6   Level 1 and entry level qualifications (number)        332 non-null    object
 7   Level 2 qualifications (number)                        332 non-null    object
 8   Apprenticeship (number)                                332 non-null    object
 9   Level 3 qualifications (number)                        332 non-null    object
 10  Level 4 qualifications and above (number)              332 non-null    object
 11  Other (number)                                         332 non-null    object
 12   No qualifications (percent)                           332 non-null    float64
 13   Level 1 and entry level qualifications (percent)      332 non-null    float64
 14   Level 2 qualifications (percent)                      332 non-null    float64
 15   Apprenticeship (percent)                              332 non-null    float64
 16   Level 3 qualifications (percent)                      332 non-null    float64
 17   Level 4 qualifications and above (percent)            332 non-null    float64
 18   Other (percent)                                       332 non-null    float64
dtypes: float64(8), object(11)
memory usage: 49.4+ KB
None

   Area code  Qualification index score
0  K04000001                       2.45
1  E06000001                       2.20
2  E06000002                       2.19
3  E06000003                       2.23
4  E06000004                       2.38

### ethnicity data

In [ ]:
# clean data on ethnicity distribution and turn numerical values into float type

#data source: https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity/ethnicity/bulletins/ethnicgroupenglandandwales/census2021 

df_ethnicity = pd.read_csv("ethnicities IP.csv")
df_eth_clean = df_ethnicity.copy()
for column in df_ethnicity.columns[2:]:
    # print(column)
    df_eth_clean[column] = df_eth_clean[column].apply(lambda x:x.replace(",", "") if "," in str(x) else x)
    df_eth_clean[column] = df_eth_clean[column].apply(lambda x:x.strip().replace("-", "0") if "-" in str(x) else x)
    df_eth_clean[column] = df_eth_clean[column].astype('float')

#obtaining boolean array for column selection:
results_tmp = []
for p in df_eth_clean.columns:
    if "(number)" in p:
        results_tmp.append(False)
    else:
        results_tmp.append(True)
results_tmp[1] = False
print(results_tmp)

df_eth_merge = df_eth_clean.iloc[:, results_tmp]
print()
print(df_eth_merge.head(5))

[True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

   Area code  Asian, Asian British or Asian Welsh: Bangladeshi\n(percent)  \
0  E06000001                                                0.3
1  E06000002                                                0.4
2  E06000003                                                0.1
3  E06000004                                                0.1
4  E06000005                                                0.7

   Asian, Asian British or Asian Welsh: Chinese\n(percent)  \
0                                                0.2
1                                                0.5
2                                                0.2
3                                                0.4
4                                                0.3

   Asian, Asian British or Asian Welsh: Indian\n(percent)  \
0                                                0.4
1                                                1.9
2                                                0.1
3                                                0.9
4                                                1.0

   Asian, Asian British or Asian Welsh: Pakistani\n(percent)  \
0                                                0.3
1                                                6.2
2                                                0.2
3                                                2.5
4                                                0.2

   Asian, Asian British or Asian Welsh: Other Asian\n(percent)  \
0                                                0.5
1                                                1.4
2                                                0.2
3                                                0.7
4                                                0.6

   Black, Black British, Black Welsh, Caribbean or African: African\n(percent)  \
0                                                0.4
1                                                2.3
2                                                0.1
3                                                0.9
4                                                0.4

   Black, Black British, Black Welsh, Caribbean or African: Caribbean\n(percent)  \
0                                                0.1
1                                                0.1
2                                                0.0
3                                                0.1
4                                                0.1

   Black, Black British, Black Welsh, Caribbean or African: Other Black\n(percent)  \
0                                                0.1
1                                                0.2
2                                                0.0
3                                                0.1
4                                                0.1

   Mixed or Multiple ethnic groups: White and Asian\n(percent)  \
0                                                0.3
1                                                0.8
2                                                0.3
3                                                0.6
4                                                0.5

   Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0                                                0.1
1                                                0.5
2                                                0.2
3                                                0.2
4                                                0.2

   Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                0.2
1                                                0.4
2                                                0.2
3                                                0.2
4                                                0.4

   Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                0.2
1                                                0.5
2                                                0.2
3                                                0.4
4                                                0.3

   White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                               95.0
1                                               79.5
2                                               96.5
3                                               90.3
4                                               90.3

   White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
0                      0.2                                         0.0
1                      0.3                                         0.1
2                      0.3                                         0.1
3                      0.3                                         0.1
4                      0.3                                         0.4

   White: Roma\n(percent)  White: Other White\n(percent)  \
0                     0.0                            1.2
1                     0.2                            2.2
2                     0.0                            0.8
3                     0.1                            1.3
4                     0.1                            3.3

   Other ethnic group: Arab\n(percent)  \
0                                  0.3
1                                  1.0
2                                  0.2
3                                  0.3
4                                  0.3

   Other ethnic group: Any other ethnic group\n(percent)
0                                                0.3
1                                                1.4
2                                                0.2
3                                                0.6
4                                                0.6

### income data

In [ ]:
#data source: https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/datasets/smallareaincomeestimatesformiddlelayersuperoutputareasenglandandwales

df_income = pd.read_csv("income WIP.csv")
df_income = df_income.rename(columns={"Local authority code": "Area code"})
print(df_income.info())
print()

df_inc_clean = df_income.copy()
df_inc_clean["Net annual income after housing costs (£)"] = df_inc_clean["Net annual income after housing costs (£)"].apply(lambda x:x.replace(",", "") if "," in str(x) else x)
df_inc_clean["Net annual income after housing costs (£)"] = df_inc_clean["Net annual income after housing costs (£)"].astype('float')

df_inc_clean = df_inc_clean[["Area code", "Net annual income after housing costs (£)"]]

print(df_inc_clean.head())

local_agg = df_inc_clean.groupby(["Area code"]).mean()
print("means: ")
print(local_agg)
print(type(local_agg))

print("final results: ")
df_inc_merge = local_agg
print(df_inc_merge.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7201 entries, 0 to 7200
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   MSOA code                                  7201 non-null   object
 1   MSOA name                                  7201 non-null   object
 2   Area code                                  7201 non-null   object
 3   Local authority name                       7201 non-null   object
 4   Region code                                7201 non-null   object
 5   Region name                                7201 non-null   object
 6   Net annual income after housing costs (£)  7201 non-null   object
 7   Upper confidence limit (£)                 7201 non-null   object
 8   Lower confidence limit (£)                 7201 non-null   object
 9   Confidence interval (£)                    7201 non-null   object
dtypes: object(10)
memory usage: 562.7+ KB
None

   Area code  Net annual income after housing costs (£)
0  E06000047                                    27700.0
1  E06000047                                    28600.0
2  E06000047                                    31400.0
3  E06000047                                    25000.0
4  E06000047                                    23800.0
means:
           Net annual income after housing costs (£)
Area code
E06000001                               23158.333333
E06000002                               23352.631579
E06000003                               24478.947368
E06000004                               25775.000000
E06000005                               26046.666667
...                                              ...
W06000020                               26646.153846
W06000021                               29236.363636
W06000022                               25760.000000
W06000023                               26863.157895
W06000024                               25328.571429

[348 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
final results:
           Net annual income after housing costs (£)
Area code
E06000001                               23158.333333
E06000002                               23352.631579
E06000003                               24478.947368
E06000004                               25775.000000
E06000005                               26046.666667

### merging data

In [9]:
merged = df_postal_merge.merge(df_age_merge, how='inner', on='Area code')
print(merged.info())
print(merged.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2396067 entries, 0 to 2396066
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pcd7         object
 1   pcd8         object
 2   pcds         object
 3   Area code    object
 4   ladnm        object
 5   Average_age  float64
dtypes: float64(1), object(5)
memory usage: 109.7+ MB
None
      pcd7      pcd8     pcds  Area code      ladnm  Average_age
0  AL1 1AA  AL1  1AA  AL1 1AA  E07000240  St Albans    40.449336
1  AL1 1AB  AL1  1AB  AL1 1AB  E07000240  St Albans    40.449336
2  AL1 1AD  AL1  1AD  AL1 1AD  E07000240  St Albans    40.449336
3  AL1 1AE  AL1  1AE  AL1 1AE  E07000240  St Albans    40.449336
4  AL1 1AF  AL1  1AF  AL1 1AF  E07000240  St Albans    40.449336

In [10]:
merged = merged.merge(df_edu_merge, how='inner', on='Area code')
print(merged.info())
print(merged.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2312399 entries, 0 to 2312398
Data columns (total 7 columns):
 #   Column                     Dtype
---  ------                     -----
 0   pcd7                       object
 1   pcd8                       object
 2   pcds                       object
 3   Area code                  object
 4   ladnm                      object
 5   Average_age                float64
 6   Qualification index score  float64
dtypes: float64(2), object(5)
memory usage: 123.5+ MB
None
      pcd7      pcd8     pcds  Area code      ladnm  Average_age  \
0  AL1 1AA  AL1  1AA  AL1 1AA  E07000240  St Albans    40.449336
1  AL1 1AB  AL1  1AB  AL1 1AB  E07000240  St Albans    40.449336
2  AL1 1AD  AL1  1AD  AL1 1AD  E07000240  St Albans    40.449336
3  AL1 1AE  AL1  1AE  AL1 1AE  E07000240  St Albans    40.449336
4  AL1 1AF  AL1  1AF  AL1 1AF  E07000240  St Albans    40.449336

   Qualification index score
0                       2.98
1                       2.98
2                       2.98
3                       2.98
4                       2.98

In [11]:
merged = merged.merge(df_inc_merge, how='inner', on='Area code')
print(merged.info())
print(merged.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2165695 entries, 0 to 2165694
Data columns (total 8 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   pcd7                                       object
 1   pcd8                                       object
 2   pcds                                       object
 3   Area code                                  object
 4   ladnm                                      object
 5   Average_age                                float64
 6   Qualification index score                  float64
 7   Net annual income after housing costs (£)  float64
dtypes: float64(3), object(5)
memory usage: 132.2+ MB
None
      pcd7      pcd8     pcds  Area code      ladnm  Average_age  \
0  AL2 1BB  AL2  1BB  AL2 1BB  E07000098  Hertsmere    40.680154
1  AL2 1BT  AL2  1BT  AL2 1BT  E07000098  Hertsmere    40.680154
2  AL2 1BU  AL2  1BU  AL2 1BU  E07000098  Hertsmere    40.680154
3  AL2 1BX  AL2  1BX  AL2 1BX  E07000098  Hertsmere    40.680154
4  AL2 1BY  AL2  1BY  AL2 1BY  E07000098  Hertsmere    40.680154

   Qualification index score  Net annual income after housing costs (£)
0                       2.59                               33438.461538
1                       2.59                               33438.461538
2                       2.59                               33438.461538
3                       2.59                               33438.461538
4                       2.59                               33438.461538

In [12]:
merged_complete = merged.merge(df_eth_merge, how='inner', on='Area code')
print(merged_complete.info())
print(merged_complete.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2165695 entries, 0 to 2165694
Data columns (total 27 columns):
 #   Column                                                                            Dtype
---  ------                                                                            -----
 0   pcd7                                                                              object
 1   pcd8                                                                              object
 2   pcds                                                                              object
 3   Area code                                                                         object
 4   ladnm                                                                             object
 5   Average_age                                                                       float64
 6   Qualification index score                                                         float64
 7   Net annual income after housing costs (£)                                         float64
 8   Asian, Asian British or Asian Welsh: Bangladeshi
(percent)                        float64
 9   Asian, Asian British or Asian Welsh: Chinese
(percent)                            float64
 10  Asian, Asian British or Asian Welsh: Indian
(percent)                             float64
 11  Asian, Asian British or Asian Welsh: Pakistani
(percent)                          float64
 12  Asian, Asian British or Asian Welsh: Other Asian
(percent)                        float64
 13  Black, Black British, Black Welsh, Caribbean or African: African
(percent)        float64
 14  Black, Black British, Black Welsh, Caribbean or African: Caribbean
(percent)      float64
 15  Black, Black British, Black Welsh, Caribbean or African: Other Black
(percent)    float64
 16  Mixed or Multiple ethnic groups: White and Asian
(percent)                        float64
 17  Mixed or Multiple ethnic groups: White and Black African
(percent)               float64
 18  Mixed or Multiple ethnic groups: White and Black Caribbean
(percent)              float64
 19  Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups
(percent)  float64
 20  White: English, Welsh, Scottish, Northern Irish or British
(percent)              float64
 21  White: Irish
(percent)                                                            float64
 22  White: Gypsy or Irish Traveller
(percent)                                         float64
 23  White: Roma
(percent)                                                             float64
 24  White: Other White
(percent)                                                      float64
 25  Other ethnic group: Arab
(percent)                                                float64
 26  Other ethnic group: Any other ethnic group
(percent)                              float64
dtypes: float64(22), object(5)
memory usage: 446.1+ MB
None
      pcd7      pcd8     pcds  Area code      ladnm  Average_age  \
0  AL2 1BB  AL2  1BB  AL2 1BB  E07000098  Hertsmere    40.680154
1  AL2 1BT  AL2  1BT  AL2 1BT  E07000098  Hertsmere    40.680154
2  AL2 1BU  AL2  1BU  AL2 1BU  E07000098  Hertsmere    40.680154
3  AL2 1BX  AL2  1BX  AL2 1BX  E07000098  Hertsmere    40.680154
4  AL2 1BY  AL2  1BY  AL2 1BY  E07000098  Hertsmere    40.680154

   Qualification index score  Net annual income after housing costs (£)  \
0                       2.59                               33438.461538
1                       2.59                               33438.461538
2                       2.59                               33438.461538
3                       2.59                               33438.461538
4                       2.59                               33438.461538

   Asian, Asian British or Asian Welsh: Bangladeshi\n(percent)  \
0                                                0.4
1                                                0.4
2                                                0.4
3                                                0.4
4                                                0.4

   Asian, Asian British or Asian Welsh: Chinese\n(percent)  ...  \
0                                                1.0        ...
1                                                1.0        ...
2                                                1.0        ...
3                                                1.0        ...
4                                                1.0        ...

   Mixed or Multiple ethnic groups: White and Black African \n(percent)  \
0                                                0.5
1                                                0.5
2                                                0.5
3                                                0.5
4                                                0.5

   Mixed or Multiple ethnic groups: White and Black Caribbean\n(percent)  \
0                                                0.9
1                                                0.9
2                                                0.9
3                                                0.9
4                                                0.9

   Mixed or Multiple ethnic groups: Other Mixed or Multiple ethnic groups\n(percent)  \
0                                                1.2
1                                                1.2
2                                                1.2
3                                                1.2
4                                                1.2

   White: English, Welsh, Scottish, Northern Irish or British\n(percent)  \
0                                               63.1
1                                               63.1
2                                               63.1
3                                               63.1
4                                               63.1

   White: Irish\n(percent)  White: Gypsy or Irish Traveller\n(percent)  \
0                      2.0                                         0.2
1                      2.0                                         0.2
2                      2.0                                         0.2
3                      2.0                                         0.2
4                      2.0                                         0.2

   White: Roma\n(percent)  White: Other White\n(percent)  \
0                     0.3                           11.6
1                     0.3                           11.6
2                     0.3                           11.6
3                     0.3                           11.6
4                     0.3                           11.6

   Other ethnic group: Arab\n(percent)  \
0                                  0.3
1                                  0.3
2                                  0.3
3                                  0.3
4                                  0.3

   Other ethnic group: Any other ethnic group\n(percent)
0                                                3.5
1                                                3.5
2                                                3.5
3                                                3.5
4                                                3.5

[5 rows x 27 columns]

### export

In [13]:
merged_complete.to_csv("supplementary_materials.csv")